$primaryLighterColor:#D7F1F4;
$primaryColor:#0FB4C6;
$primaryDarkerColor:#088A98;
$primaryDarkestColor:#045F69;
$primaryColorText:#ffffff;

$accentColor:#FF82B4;
$accentDarkerColor:#E03279;
$accentColorText:#000000;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryColorText;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColorText;
$clickableContainerHeaderIconColor:$primaryColorText;

$clickableContainerHeaderHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderHoverTextColor:$primaryColorText;
$clickableContainerHeaderHoverIconColor:$primaryColorText;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../../sass/theme/theme';