.full-page {
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
}

.conf-header {
  height: 16vh;
  width: 100vw;
  margin: 0!important;
  background-color: var(--background)!important;
}

.header-slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conf-logo-img {
  max-height: 75px;

}

.general-card {
  background-color: var(--card-color);
  display: flex;
  width: 9.5vw;
  height: 9vh;
  color: var(--card-font-color);
  margin: 2vw;
  border-top: 1vh solid var(--accent-color);
  padding-bottom: 0;
  justify-content: center;
}

.general-card-number {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
  padding-top: 0;
}

.general-card-title {
  font-size: 1.5vh;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1vh;
}

.meet-container {
  background-color: var(--background)!important;
  height: 84vh;
  width: 100vw;
  margin: 0!important;
  border-top: 1vh solid var(--accent-color);
}

.meet-title {
  text-align: center;
  font-size: 4vh;
  padding-top: 2vh;
  font-weight: bold;
}

.meet-subtitle {
  text-align: center;
  padding: 0.4vh 0 0 0;
  font-size: 3vh;
}

.meet-line{
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
}

.meet-card {
  background-color: var(--card-color);
  display: flex;
  width: 28vw;
  height: 28vh;
  color:  var(--card-font-color);
  margin: 3vh 4vw 0 4vw;
  border-top: 2vh solid var(--accent-color);
  padding-bottom: 0;
  justify-content: center;
}

.meet-card-number {
  font-size: 12vh;
  font-weight: bold;
  color:  var(--card-font-color)!important;
  text-align: center;
  padding-bottom: 0;
  padding-top: 2vh;
  transition-property: text-shadow;
  transition-duration: .3s;
  //transition: text-shadow 1s ease;
}

.meet-card-title {
  font-size: 4vh;
  font-weight: bold;
  color:  var(--card-font-color);
  text-align: center;
  padding-top: 0;
  margin-top: -5vh;
}

.loader-wrapper {
  display: none!important;
}

.loader-section {
  display: none!important;
}

.loader {
  display: none!important;
}

