<div *ngIf="!loading" class="full-page">

  <div class="conf-header row">
    <div class="col-4 header-slot">
      <div class="row">
        <div class="general-card col-6">
          <div class="row">
            <div class="general-card-number col-12">{{confParticipants}}</div>
            <div class="general-card-title col-12">PARTICIPANTES</div>
          </div>
        </div>
        <div class="general-card col-6">
          <div class="row">
            <div class="general-card-number col-12">{{confComments}}</div>
            <div class="general-card-title col-12">PROPOSTAS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 header-slot">
      <img *ngIf="header" class="conf-logo-img print-visible" [src]="header" alt="">
    </div>
    <div class="col-4 header-slot">
      <div class="row">
        <div class="general-card col-6">
          <div class="row">
            <div class="general-card-number col-12">{{confHighlights}}</div>
            <div class="general-card-title col-12">DESTAQUES</div>
          </div>
        </div>
        <div class="general-card col-6">
          <div class="row">
            <div class="general-card-number col-12">{{confLocalities}}</div>
            <div class="general-card-title col-12">MUNICÍPIOS</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="meet-container">
    <div class="meet-title">ENCONTRO PRESENCIAL DE {{meeting?.localityPlace?.name | uppercase}}</div>
    <div class="meet-subtitle">{{meetingSubtitle}}</div>
    <div class="meet-line row">
      <div class="meet-card col-6">
        <div class="row">
          <div class="meet-card-number col-12"
            [style.color]="mpColor"
            [style.text-shadow]="textShadow + ' 0px 0px ' + mpShadow + 'vh'">{{meetingParticipants}}</div>
          <div class="meet-card-title col-12">PARTICIPANTES</div>
        </div>
      </div>
      <div class="meet-card col-6">
        <div class="row">
          <div class="meet-card-number col-12"
            [style.color]="mcColor"
            [style.text-shadow]="textShadow + ' 0px 0px ' + mcShadow + 'vh'">{{meetingComments}}</div>
          <div class="meet-card-title col-12">PROPOSTAS</div>
        </div>
      </div>
    </div>
    <div class="meet-line row">
      <div class="meet-card col-6">
        <div class="row">
          <div class="meet-card-number col-12"
            [style.color]="mhColor"
            [style.text-shadow]="textShadow + ' 0px 0px ' + mhShadow + 'vh'">{{meetingHighlights}}</div>
          <div class="meet-card-title col-12">DESTAQUES</div>
        </div>
      </div>
      <div class="meet-card col-6">
        <div class="row">
          <div class="meet-card-number col-12"
            [style.color]="mlColor"
            [style.text-shadow]="textShadow + ' 0px 0px ' + mlShadow + 'vh'">{{meetingLocalities}}</div>
          <div class="meet-card-title col-12">MUNICÍPIOS</div>
        </div>
      </div>
    </div>
  </div>
</div>
