<app-template>
  <div class="row ui-fluid">
    <div class="col-12 p-lg-12">
      <div class="card card-w-title">
        <section *ngIf="!showDomainForm && !showLocalityForm">
          <div class="row ui-fluid actions">
            <div class="ui-g-5 ui-md-2 ui-lg-2">
              <button pButton type="button" class="button-new" [label]="'new' | translate" (click)="showCreateDomain()" icon="pi pi-plus">
              </button>
            </div>
            <div class="ui-g-2 ui-md-8 ui-lg-9"></div>
            <div class="ui-g-5 ui-md-2 ui-lg-1 search">
              <a class="search" (click)="toggleSearch()">{{ (search ? 'hide' : 'search') | translate }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="search">
            <form [formGroup]="searchForm" (submit)="searchDomains(searchForm.value)">
              <div class="row ui-fluid">
                <div class="ui-g-12 ui-md-6 ui">
                  <label for="query">{{'domain.name' | translate}}</label>
                  <input id="search-input" pInputText formControlName="query">
                </div>
                <div class="ui-g-12 ui-md-3">
                  <button pButton [icon]="loadingIcon('pi pi-search')" [disabled]="loading" type="submit" [label]="'search' | translate"></button>
                </div>
              </div>
            </form>
          </div>
          <p-treeTable #tt [value]="domainTree" selectionMode="single" class="tree-column">
            <ng-template pTemplate="header">
              <tr>
                <th>{{'name'| translate }}</th>
                <th>{{'type' | translate}}</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr [ngClass]="rowData.created ? 'background-orange' : ''">
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span style="vertical-align: middle">{{rowData.name}}</span>
                </td>
                <td>
                  {{ rowData.type && rowData.type.name }}
                </td>
                <td class="column-actions">
                  <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    (click)="showCreateLocality(rowNode)">
                    <img src="assets/layout/images/icons/triangule_plus.png"  alt=""/>
                  </button>
                  <button pButton icon="pi pi-pencil" type="button" style="margin-right: 2px;"
                    (click)="showEdit(rowNode)"></button>
                  <button pButton icon="pi pi-trash" type="button" (click)="delete(rowNode)"></button>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </section>
        <section class="row ui-fluid" *ngIf="showDomainForm">
          <form [formGroup]="domainForm" (submit)="saveDomain(domainForm.value)">
            <div class="col-12 col-md-6">
              <span *ngIf="edit">{{'update' | translate }}</span>
              <span *ngIf="!edit">{{'new' | translate }}</span>
               {{'administration.domain'|translate}}
            </div>
            <div class="col-12 col-md-6">
              <label for="name">{{'domain.name'|translate}}</label>
              <input pInputText class="form-control" (input)="onInput($event)" (blur)="onBlur($event)" formControlName="name">
              <tt-input-message [form]="domainForm" field="name"></tt-input-message>
            </div>
            <div class="col-12 p-md-4">
              <div class="form-actions">
                <button pButton icon="pi pi-check" type="submit" [label]="'save'|translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate"
                  (click)="cancel()"></button>
              </div>
            </div>
          </form>
        </section>
        <section class="row ui-fluid" *ngIf="showLocalityForm">
          <form [formGroup]="localityForm" (submit)="saveLocality(localityForm.value)">
            <div class="col-12 col-md-6">
              {{ localityBreadcrumb }}
              <span *ngIf="edit">> {{'update' | translate }}</span>
              <span *ngIf="!edit">> {{'domain.locality.new' | translate }}</span>
               {{'locality'|translate}}
            </div>
            <div class="col-12 col-md-6">
              <label for="name">{{'type'|translate}}</label>
              <p-dropdown [options]="types" [styleClass]="'d-flex form-control'" [disabled]="disableSelectLocalityType" formControlName="type"
                class="ng-dirty ng-invalid" [placeholder]="'placeholder.select'|translate"></p-dropdown>
              <tt-input-message [form]="localityForm" field="type"></tt-input-message>
            </div>
            <div class="col-12 col-md-6">
              <label class="w-100" for="name">{{'domain.locality.name'|translate}}</label>
              <p-autoComplete [styleClass]="'w-100'" [inputStyleClass]="'w-100 form-control'" formControlName="name" [suggestions]="localities"
                (completeMethod)="searchLocalities($event, localityForm.value.type)">
              </p-autoComplete>
              <tt-input-message [form]="localityForm" field="name"></tt-input-message>
            </div>
            <div class="col-12 col-md-6">
              <label for="latitudeLongitude">{{'domain.locality.latitudeLongitude'|translate}}</label>
              <input class="form-control" formControlName="latitudeLongitude" pInputText>
              <tt-input-message [form]="localityForm" field="latitudeLongitude"></tt-input-message>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-actions">
                <button pButton *ngIf="!edit" [icon]="loadingIcon()" [disabled]="loading" type="submit" [label]="'saveContinue'|translate"
                  (click)="setSaveAndContinue(true)"></button>
                <button pButton [icon]="loadingIcon()" [disabled]="loading" type="submit" [label]="'save'|translate"
                  (click)="setSaveAndContinue(false)">
                </button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel' | translate"
                  (click)="cancelLocality()"></button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <p-confirmDialog [header]="'domain.delete'|translate" icon="pi pi-exclamation-triangle" key="deleteDomain">
  </p-confirmDialog>
</app-template>
