<app-template>
  <div class="row ui-fluid">
    <div class="p-col-12 p-lg-12">
      <div class="card card-w-title">
        <section>
          <div class="row ui-fluid actions">
            <div class="col-5 col-md-2 col-lg-2">
              <button pButton type="button" class="button-new" [label]="'new'|translate" icon="pi pi-plus"
                      (click)="handleCreateConference()">
              </button>
            </div>
            <div class="col-2 col-md-8 col-lg-9"></div>
            <div class="col-5 col-md-2 col-lg-1 search">
              <a class="search" (click)="toggleSearch()">{{ (search ? 'hide' : 'search') |translate }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="search">
            <form [formGroup]="searchForm" (submit)="searchConferences(searchForm.value)">
              <div class="row ui-fluid">
                <div class="col-12 col-md-6 col-lg-3">
                  <label for="nameSearch">{{'conference.name'|translate}}</label>
                  <input class="form-control" id="search-input" pInputText formControlName="nameSearch">
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label for="planSearch">{{'plan.label'|translate}}</label>
                  <p-dropdown [styleClass]="'d-flex form-control'" [options]="plans" formControlName="planSearch" class="ng-dirty ng-invalid"
                              [placeholder]="'placeholder.select'|translate"></p-dropdown>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label for="monthSearch">{{'month.label'|translate}}</label>
                  <p-dropdown [styleClass]="'d-flex form-control'" [options]="months" formControlName="monthSearch" class="ng-dirty ng-invalid"
                              [placeholder]="'placeholder.select'|translate"></p-dropdown>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label for="yearSearch">{{'years'|translate}}</label>
                  <p-dropdown [styleClass]="'d-flex form-control'" [options]="years" formControlName="yearSearch" class="ng-dirty ng-invalid"
                              [placeholder]="'placeholder.select'|translate"></p-dropdown>
                </div>

                <div class="col-12 col-md-3 col-lg-3">
                  <button pButton icon="pi pi-search" type="submit" [label]="'search'|translate"></button>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <button pButton icon="pi pi-ban" type="button" [label]="'clean.search'|translate"
                          (click)="clearSearch()"></button>
                </div>
              </div>
            </form>
          </div>
          <p-table [value]="conferences" responsiveLayout="stack" styleClass="p-datatable-striped"  responsive="true" selectionMode="single" dataKey="vin" [paginator]="true" [rows]="10"
                   paginatorPosition="both">
            <ng-template pTemplate="caption">
                Consulta
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'name'|translate}}</th>
                <th>{{'plan.label'|translate}}</th>
                <th>{{'date.start'|translate}}</th>
                <th>{{'date.end'|translate}}</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conference>
              <tr (click)="handleClickConference($event, conference)" class="pointer">
                <td>
                  <div class="row p-1">
                    <div class="p-column-title">{{'name'|translate}}</div>
                    <div class="">{{conference.name}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="p-column-title">{{'plan.label'|translate}}</div>
                    <div style="vertical-align: middle">{{conference.plan?.name}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="p-column-title">{{'date.start'|translate}}</div>
                    <div style="vertical-align: middle">{{conference.beginDate?.toLocaleString('pt-BR')}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="p-column-title">{{'date.end'|translate}}</div>
                    <div style="vertical-align: middle">{{conference.endDate?.toLocaleString('pt-BR')}}</div>
                  </div>
                </td>
                <td class="justify-content-center">
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item pointer" (click)="handleEditConference(conference)"><span class="icon" ><i class="fa fa-pencil" ></i></span>{{'conference.actions.edit' | translate}}</a>
                      </li>
                      <li>
                        <a class="dropdown-item pointer" [routerLink]="goToMetting(conference)"><span class="icon" ><i class="fa fa-users" ></i></span>{{'conference.actions.meeting' | translate}}</a>
                      </li>
                      <li>
                        <a class="dropdown-item pointer" (click)="delete(conference)"  ><span class="icon" ><i class="fa fa-trash" ></i></span>{{'conference.actions.delete' | translate}}</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </section>
      </div>
    </div>
  </div>
  <p-confirmDialog [header]="'conference.delete'|translate" icon="pi pi-exclamation-triangle" key="deleteConference">
  </p-confirmDialog>
  <p-confirmDialog [header]="'conference.delete'|translate" icon="pi pi-exclamation-triangle" key="defaultConference">
  </p-confirmDialog>
</app-template>
