<app-template>
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-lg-12">
      <div class="card card-w-title">
        <section *ngIf="!showStructureForm && !showStructureItemForm">
          <div class="p-grid ui-fluid actions">
            <div class="ui-g-5 ui-md-2 ui-lg-2">
              <button pButton type="button" class="button-new" [label]="'new'|translate" (click)="showCreateStructure()" icon="pi pi-plus">
              </button>
            </div>
            <div class="ui-g-2 ui-md-8 ui-lg-9"></div>
            <div class="ui-g-5 ui-md-2 ui-lg-1 search">
              <a class="search" (click)="toggleSearch()">{{ (search ? 'hide' : 'search') | translate }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="search">
            <form [formGroup]="searchForm" (submit)="searchStructures(searchForm.value)">
              <div class="p-grid ui-fluid">
                <div class="ui-g-12 ui-md-6">
                  <label for="query">{{'structure.name'|translate}}</label>
                  <input id="search-input" pInputText formControlName="query">
                </div>
                <div class="ui-g-12 ui-md-3">
                  <button pButton [icon]="loadingIcon('pi pi-search')" [disabled]="loading" type="submit" [label]="'search'|translate"></button>
                </div>
              </div>
            </form>
          </div>
          <p-treeTable #tt [value]="structureTree" selectionMode="single" class="tree-column">
            <ng-template pTemplate="header">
              <tr>
                <th>{{'name'|translate}}</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr [ngClass]="rowData.created ? 'background-orange' : ''">
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span style="vertical-align: middle">{{rowData.name}}</span>
                </td>
                <td class="column-actions">
                  <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    [disabled]="disableBtnAdd(rowNode)" type="button" style="margin-right: 2px;"
                    (click)="showCreateStructureItem(rowNode)">
                    <img src="assets/layout/images/icons/triangule_plus.png"  alt=""/>
                  </button>
                  <button pButton icon="pi pi-pencil" type="button" style="margin-right: 2px;"
                    (click)="showEdit(rowNode)"></button>
                  <button pButton icon="pi pi-trash" type="button" [disabled]="disableBtnDelete(rowNode)"
                    (click)="delete(rowNode)"></button>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </section>

        <!-- Structure Form -->

        <section class="p-grid ui-fluid" *ngIf="showStructureForm">
          <form [formGroup]="structureForm" (submit)="saveStructure(structureForm.value)">
            <div class="p-col-12 p-md-6">
              <span *ngIf="edit">{{'update' | translate }}</span>
              <span *ngIf="!edit">{{'new' | translate }}</span>
               {{'administration.structure'|translate}}
            </div>
            <div class="p-col-12 p-md-6">
              <label for="name">{{'structure.name'|translate}}</label>
              <input pInputText (input)="onInput($event)" (blur)="onBlur($event)" formControlName="name">
              <tt-input-message [form]="structureForm" field="name"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-locality">{{'structure.regionalization'|translate}}</label>
              <p-inputSwitch id="input-switch-logo" formControlName="regionalization" [disabled]="structure.hasLocalityWithItem && structureForm.value.regionalization">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="form-actions">
                <button pButton icon="pi pi-check" [disabled]="disableBtnSave" type="submit"
                  [label]="'save'|translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate"
                  (click)="cancel()"></button>
              </div>
            </div>
          </form>
        </section>

        <!-- Structure Item Form -->

        <section class="p-grid ui-fluid" *ngIf="showStructureItemForm">
          <form [formGroup]="structureItemForm" (submit)="saveStructureItem(structureItemForm.value)">
            <div class="p-col-12 p-md-6">
              {{ structureItemBreadcrumb }} >
              <span *ngIf="edit">{{'update' | translate }}</span>
              <span *ngIf="!edit">{{'new' | translate }}</span>
               {{'structure.item.item'|translate}}
            </div>

            <div class="p-col-12 p-md-6">
              <label for="name">{{'structure.item.name'|translate}}</label>
              <input pInputText formControlName="name">
              <tt-input-message [form]="structureItemForm" field="name"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-logo">{{'structure.logo'|translate}}</label>
              <p-inputSwitch id="input-switch-logo" formControlName="logo">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-locality">{{'structure.locality'|translate}}</label>
              <p-inputSwitch id="input-switch-locality" formControlName="locality" [disabled]="!structure?.regionalization">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-votes">{{'structure.votes'|translate}}</label>
              <p-inputSwitch id="input-switch-votes" formControlName="votes">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-comments">{{'structure.comments'|translate}}</label>
              <p-inputSwitch id="input-switch-comments" formControlName="comments">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-title">{{'structure.title'|translate}}</label>
              <p-inputSwitch id="input-switch-title"  [(ngModel)]="tileChecked" [ngModelOptions]="{standalone: true}">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="tileChecked">
              <input pInputText formControlName="title">
              <tt-input-message [form]="structureItemForm" field="title"></tt-input-message>
            </div>

            <div class="p-col-12 p-md-6 input-switch">
              <label for="input-switch-subtitle">{{'structure.subTitle'|translate}}</label>
              <p-inputSwitch id="input-switch-subtitle" [(ngModel)]="subtitleChecked" [ngModelOptions]="{standalone: true}">
              </p-inputSwitch>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="subtitleChecked">
              <input pInputText formControlName="subtitle">
              <tt-input-message [form]="structureItemForm" field="subtitle"></tt-input-message>
            </div>

            <div class="col-12 p-md-8 input-switch">
              <label for="input-switch-link">{{'structure.link'|translate}}</label>
              <p-inputSwitch id="input-switch-link" [(ngModel)]="linkChecked" [ngModelOptions]="{standalone: true}">
              </p-inputSwitch>
            </div>
            <div class="col-12 p-md-6" *ngIf="linkChecked">
              <input pInputText formControlName="link">
              <tt-input-message [form]="structureItemForm" field="link"></tt-input-message>
            </div>

            <div class="p-col-12 p-md-6">
              <div class="form-actions">
                <button pButton icon="pi pi-check" type="submit"
                  [label]="'save'|translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate"
                  (click)="cancelStructureItem()"></button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <p-confirmDialog [header]="'structure.delete'|translate" icon="pi pi-exclamation-triangle" key="deleteStructure">
  </p-confirmDialog>
</app-template>
