<app-template>
  <div class="row ui-fluid">
    <div class="col-12 col-lg-12">
      <div class="card card-w-title">
        <section *ngIf="!formEdit">
          <div class="row ui-fluid actions">
            <div class="col-5 col-md-2 col-lg-2">
              <button pButton type="button" class="button-new" [label]="'new'|translate" icon="pi pi-plus"
                (click)="showEditOrInsert()">
              </button>
            </div>
            <div class="col-2 col-md-8 col-lg-9"></div>
            <div class="col-5 col-md-2 col-lg-1 search">
              <a class="search"
                (click)="enableSearch = !enableSearch">{{ (enableSearch ? 'hide' : 'search') |translate }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="enableSearch">
            <div class="row ui-fluid">
              <div class="col-12 col-md-6 col-lg-3">
                <label>{{'citizen.name'|translate}}</label>
                <input pInputText class="form-control" [(ngModel)]="search.name">
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <label>{{'citizen.mail'|translate}}</label>
                <input pInputText class="form-control" [(ngModel)]="search.email">
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <label>{{'citizen.authentication'|translate}}</label>
                <p-dropdown [styleClass]="'d-flex form-control'" [options]="authentications" [(ngModel)]="search.autentication"
                  [placeholder]="'placeholder.select'|translate"></p-dropdown>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <label>{{ localitySrv.getTranslatedLabelLocality(labelLocality) }}</label>
                <p-autoComplete [styleClass]="'w-100 d-flex'" [inputStyleClass]="'w-100 form-control'" [(ngModel)]="selectedLocalities" [suggestions]="filteredLocalities" (completeMethod)="filterLocalities($event)" (ngModelChange)="setSearchLocality()"  [placeholder]="'search' | translate" [multiple]="true"></p-autoComplete>
                <!-- <p-autoComplete   [styleClass]="'w-100'" [inputStyleClass]="'w-100 d-flex form-control'" [suggestions]="filteredLocalities" [formControl]="selectedLocalities" (completeMethod)="filterLocalities($event)"
                  [size]="30" [minLength]="1" field="label" [placeholder]="'search' | translate" [multiple]="true">
                </p-autoComplete> -->
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <label>{{'citizen.status'|translate}}</label>
                <p-dropdown [styleClass]="'d-flex form-control'" [options]="status" [(ngModel)]="search.status"
                  [placeholder]="'placeholder.select'|translate"></p-dropdown>
              </div>
              <div class=" col-12 col-md-6 col-lg-9">
                <div class="justify-content-end d-flex">
                    <button pButton icon="pi pi-search" class="me-2" type="button" (click)="searchHandle()" [label]="'search'|translate"></button>
                    <button pButton icon="pi pi-ban" type="button" [label]="'clean.search'|translate"
                      (click)="search = { conferenceId: conferenceSelect?.id }; searchHandle(); selectedLocalities = [];"></button>
                </div>
              </div>
            </div>
          </div>
          <p-table [columns]="cols" [value]="data" [lazy]="true" [lazyLoadOnInit]="true" 
            (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th [class]="col.styleClass" *ngFor="let col of columns" [pSortableColumn]="col.field"
                  [pSortableColumnDisabled]="!col.sorteable">
                  {{col.header | translate}}
                  <p-sortIcon *ngIf="col.sorteable" [field]="col.field"></p-sortIcon>
                </th>
                <th class="column-actions"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [class.citizen-inactive]="!rowData.active" [pTooltip]="rowData.active ? '' : ('status.inactiveUser' | translate )"
                tooltipPosition="bottom">
                <td [class]="col.styleClass" *ngFor="let col of columns">
                  <!-- <span class="ui-column-title">{{ col.header | translate }}</span> -->
                  <span class="table-field" [innerHTML]="getValue(col.field, rowData, col.handleView)"></span>
                </td>
                <td class="column-actions">
                  <button pButton icon="pi pi-pencil" type="button" style="margin-right: 2px;"
                    (click)="showEditOrInsert(rowData)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <section class="pagesize-section">
            <div class="left-side">
              {{ (pageSize * page) + 1 }}-{{ getCurrentTotalOfRecords }} {{ 'of' | translate }} {{ totalRecords }}
            </div>
            <div class="right-side">
              <label>{{'rowPerPage'|translate}}</label>
              <p-dropdown [options]="pageSizeOptions" [(ngModel)]="pageSize"
                [placeholder]="'placeholder.select'|translate" (ngModelChange)="loadData()"></p-dropdown>
            </div>
          </section>
        </section>
        <section *ngIf="formEdit">
          <form class="row ui-fluid col-8" [formGroup]="citizenForm" (submit)="save(citizenForm)">
            <div class="col-12 col-md-12">
              <label class="required" for="name">{{'citizen.name'|translate}}</label>
              <input pInputText class="form-control" formControlName="name" (input)="onInput($event)" (blur)="onBlur($event)">
              <tt-input-message [form]="citizenForm" field="name"></tt-input-message>
            </div>
            <div class="col-12 col-md-12">
              <label class="required" for="locality">{{ localitySrv.getTranslatedLabelLocality(labelLocality) }}</label>
              <p-dropdown [styleClass]="'d-flex form-control'" [options]="localities" formControlName="locality" class="ng-dirty ng-invalid"
                          [placeholder]="'placeholder.select'|translate"></p-dropdown>
              <tt-input-message [form]="citizenForm" field="locality"></tt-input-message>
            </div>
            <div class="col-12  col-md-12 authentication-container">
              <label>Autenticação</label>
              <div class="container">
                <div class="icons-container">
                  <img *ngIf="(idCitizen === 0 || (!citizenHasNativeAuth && getFormValue('ckResetPassword')))" src="../../../assets/layout/images/icons/participe.svg"  alt=""/>
                  <div [innerHTML]="getAuthenticationsFromCitizen"></div>
                </div>
                <div class="options-container">
                  <p-radioButton name="typeAuthentication" value="cpf" label="CPF"
                    (onClick)="changeTypeAuthentication()" formControlName="typeAuthentication">
                  </p-radioButton>
                  <p-radioButton name="typeAuthentication" value="mail" label="E-mail"
                    (onClick)="changeTypeAuthentication()" formControlName="typeAuthentication">
                  </p-radioButton>
                </div>
              </div>
            </div>
            <div class="col-12   col-md-6" [ngClass]="{'input-disabled': getFormValue('typeAuthentication') === 'mail'}">
              <label [class.required]="getFormValue('typeAuthentication') === 'cpf'" for="cpf">{{'citizen.cpf'|translate}}</label>
              <p-inputMask [styleClass]="'form-control'"  formControlName="cpf" mask="999.999.999-99" placeholder="000.000.000-00" unmask="true"
                (onBlur)="onBlurCpf()"></p-inputMask>
              <tt-input-message [form]="citizenForm" field="cpf"></tt-input-message>
            </div>
            <div class="col-12   col-md-6" [ngClass]="{'input-disabled': getFormValue('typeAuthentication') === 'mail'}">
              <label [class.required]="getFormValue('typeAuthentication') === 'cpf'" for="password">{{'citizen.password'|translate}}</label>
              <input pInputText class="form-control" formControlName="password" [maxLength]="6">
              <tt-input-message [form]="citizenForm" field="password"></tt-input-message>
            </div>
            <div class="col-12 col-md-12" [ngClass]="{'input-disabled': getFormValue('typeAuthentication') === 'cpf'}">
              <label [class.required]="getFormValue('typeAuthentication') === 'mail'" for="mail">{{'citizen.mail'|translate}}</label>
              <input pInputText class="form-control" formControlName="mail">
              <tt-input-message [form]="citizenForm" field="mail"></tt-input-message>
              <div class="reset-password-container"
                *ngIf="idCitizen > 0 && getFormValue('typeAuthentication') === 'mail'">
                <input type="checkbox" id="ckResetPassword" formControlName="resetPassword"/>
                <label for="ckResetPassword">{{ 'citizen.resetpassword' | translate}}</label>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <label for="phone">{{'citizen.phone'|translate}}</label>
              <p-inputMask formControlName="telephone" [styleClass]="'d-flex form-control'" mask="(99) 99999-9999" unmask="true"></p-inputMask>
              <tt-input-message [form]="citizenForm" field="telephone"></tt-input-message>
            </div>
            <div class="col-12 col-md-12 input-switch">
              <label for="input-switch-informational">{{'citizen.receive_informational'|translate}}</label>
              <p-inputSwitch id="input-switch-informational" formControlName="receiveInformational">
              </p-inputSwitch>
            </div>
            <div class="col-12 col-md-12 radiobutton-status" *ngIf="idCitizen > 0">
              <label for="status">Status</label>
              <div>
                <p-radioButton name="statusIsActive" [value]="true" [label]="'status.active' | translate" formControlName="statusIsActive"></p-radioButton>
                <p-radioButton name="statusIsActive" [value]="false" [label]="'status.inactive' | translate" formControlName="statusIsActive"></p-radioButton>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-actions  ">
                <button class="ms-2" [disabled]="citizenForm.invalid" [icon]="iconSave" pButton *ngIf="formEdit" type="submit"
                  [label]="'save'|translate"></button>
                <button class="ms-2" pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate" (click)="cancel()"></button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</app-template>
<p-dialog modal="true" [draggable]="false" [style]="{width: '500px'}" [closable]="false"
  [visible]="showSelectConference">
  <div class="conferences-item-select-modal" *ngFor="let conference of conferencesActives"
    (click)="selectOtherConference(conference)">
    <h4>{{ conference.name }}</h4>
    <small>{{ conference.description }}</small>
    <div class="date-container">
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.beginDate }}
      </div>
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.endDate }}
      </div>
    </div>
  </div>
  <p-footer>
    <div class="action-modal">
      <button pButton label="Fechar" (click)="showSelectConference = false"></button>
    </div>
  </p-footer>
</p-dialog>
