<div class="layout-topbar">
  <div href="#" class="layout-topbar-logo">
    <a href="#">
      <img class="logo" src="assets/layout/images/logotype.png" alt="Ministério Público do"/>
    </a>
  </div>
  <a class="layout-menu-button" href="#" (click)="template.onMenuButtonClick($event)">
    <i class="pi pi-bars"></i>
  </a>

  <ul class="layout-topbar-menu" role="menu">
    <li #profile class="user-profile" role="menuitem" [ngClass]="{'active-topmenuitem':template.activeTopbarItem === profile}">
      <a href="#" (click)="template.onTopbarItemClick($event,profile)">
        <div class="user-profile-info profile-link">
          <span class="user-profile-name">Totem TI</span>
          <span class="user-profile-role">Administrador</span>
        </div>
        <img class="logo" src="assets/layout/images/avatar/avatar-pedro.jpg" alt="prestige-layout" />
      </a>
      <ul class="fadeInDown">
        <li class="profile-detail">
          <div class="user-profile-info">
            <img class="logo" src="assets/layout/images/avatar/avatar-pedro.jpg" alt="prestige-layout" />
            <div class="profile-info">
              <span class="user-profile-name">Totem TI</span>
              <span class="user-profile-role">Administrador</span>
            </div>
            <a [routerLink]="['/']" class="profile-detail-icon" (click)="template.onTopbarSubItemClick($event)">
              <i class="pi pi-sign-out"></i>
            </a>
          </div>
        </li>
        <li>
          <a href="#" (click)="template.onTopbarSubItemClick($event)">
            <i class="pi pi-user"></i>
            <div class="menu-text">
              <span class="menu-title">Perfil</span>
              <span class="menu-subtitle">Editar perfil</span>
            </div>

            <i class="right-icon pi pi-angle-right"></i>
          </a>
        </li>
        <li>
          <a href="#" (click)="template.onTopbarSubItemClick($event)">
            <i class="pi pi-cog"></i>
            <div class="menu-text">
              <span class="menu-title">Configurações</span>
              <span class="menu-subtitle">Painel de configurações</span>
            </div>
            <i class="right-icon pi pi-angle-right"></i>
          </a>
        </li>
        <li>
          <a href="#" (click)="template.onTopbarSubItemClick($event)">
            <i class="pi pi-inbox"></i>
            <div class="menu-text">
              <span class="menu-title">Mensagens</span>
              <span class="menu-subtitle">Você possui <div class="blue">3 novas</div> mensagens</span>
            </div>
            <i class="right-icon pi pi-angle-right"></i>
          </a>
        </li>
        <li>
          <a href="#" (click)="template.onTopbarSubItemClick($event)">
            <i class="pi pi-globe"></i>
            <div class="menu-text">
              <span class="menu-title">Notificações</span>
              <span class="menu-subtitle">Nenuma notificação nova</span>
            </div>
            <i class="right-icon pi pi-angle-right"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
