.page-home-container { 
    .card {
        min-height: calc(100vh - 435px);
        display: flex;
        justify-content: center;

        .card-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            align-content: center;
            flex-wrap: wrap;
            max-width: 550px;
            
            .container-icon {
                border: 1px solid #F48730;
                color: #F48730;
                width: 200px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
                font-weight: 700;
                margin: 20px;
                box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
                flex-direction: column;
    
                fa-icon {
                    margin-bottom: 15px;
                }
                
            }
        }
      
    }
}