<app-template>
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-lg-12">
      <div class="card card-w-title">
        <section *ngIf="!showConferenceForm">
          <div class="p-grid ui-fluid actions">
            <div class="p-md-1">
              <button
                pButton
                type="button"
                label="New"
                (click)="showCreateConference()">
                  <img src="assets/layout/images/icons/triangule_plus.png" />
              </button>
            </div>
            <div class="ui-g-2 ui-md-10"></div>
            <div class="ui-g-5 ui-md-1 search">
              <a class="search" (click)="toogleSearch()">{{ search ? 'Hide' : 'Search' }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="search">
            <form [formGroup]="searchForm" (submit)="searchConferences(searchForm.value)">
              <div class="p-grid ui-fluid">
                <div class="ui-g-12 ui-md-3">
                  <input
                    pInputText
                    placeholder="Conference name"
                    formControlName="nameSearch">
                </div>
                <div class="ui-g-12 ui-md-3">
                  <p-dropdown
                    [options]="plans"
                    formControlName="planSearch"
                    class="ng-dirty ng-invalid"
                    placeholder="Plan"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-3">
                  <p-dropdown
                    [options]="months"
                    formControlName="monthSearch"
                    class="ng-dirty ng-invalid"
                    placeholder="Month"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-3">
                  <p-dropdown
                    [options]="years"
                    formControlName="yearSearch"
                    class="ng-dirty ng-invalid"
                    placeholder="Year"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-2">
                  <button
                    pButton
                    icon="pi pi-search"
                    type="submit"
                    label="Search"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                  <button
                    pButton
                    icon="pi pi-ban"
                    type="button"
                    label="Clear Search"
                    (click)="clearSearch()"></button>
                </div>
              </div>
            </form>
          </div>
          <p-table
            [value]="conferences" selectionMode="single" dataKey="vin" [paginator]="true"
                [rows]="10" [responsive]="true" paginatorPosition="both">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Plan</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-conference>
              <tr>
                <td>
                  <span style="vertical-align: middle">{{conference.name}}</span>
                </td>
                <td>
                  <span style="vertical-align: middle">{{conference.plan?.name}}</span>
                </td>
                <td>
                  <span style="vertical-align: middle">{{conference.beginDate}}</span>
                </td>
                <td>
                  <span style="vertical-align: middle">{{conference.endDate}}</span>
                </td>
                <td class="column-actions">
                  <button
                    pButton
                    icon="pi pi-pencil"
                    type="button"
                    style="margin-right: 2px;"
                    (click)="showEdit(conference)"></button>
                  <button
                    pButton
                    icon="pi pi-trash"
                    type="button"
                    (click)="delete(conference)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </section>
        <section class="p-grid ui-fluid" *ngIf="showConferenceForm">
          <form [formGroup]="conferenceForm" (submit)="saveConference(conferenceForm.value)">
            <div class="p-col-12 p-md-6">
              <input
                pInputText
                placeholder="Conference name"
                (change)="validateName($event)"
                formControlName="name">
              <tt-input-message [form]="conferenceForm" field="name"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Conference description" formControlName="description"
                autoResize="autoResize">
              </textarea>
              <tt-input-message [form]="conferenceForm" field="description"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <p-calendar dateFormat="dd/mm/yy" placeholder="Begin Date" (onSelect)="changeBeginDate($event)"
                formControlName="beginDate" ></p-calendar>
              <tt-input-message [form]="conferenceForm" field="beginDate"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <p-calendar dateFormat="dd/mm/yy" placeholder="End Date"
                [minDate]="minDate"
                formControlName="endDate" ></p-calendar>
              <tt-input-message [form]="conferenceForm" field="endDate"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <p-dropdown
                [options]="plans"
                formControlName="plan"
                class="ng-dirty ng-invalid"
                placeholder="Plan"></p-dropdown>
              <tt-input-message [form]="conferenceForm" field="plan"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="form-actions">
                <button
                  pButton
                  icon="pi pi-check"
                  type="submit"
                  label="Save"></button>
                <button
                  pButton
                  icon="pi pi-ban"
                  type="button"
                  label="Cancel"
                  (click)="clearConferenceForm(null)"></button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <p-confirmDialog header="Delete Conference" icon="pi pi-exclamation-triangle" key="deleteConference"></p-confirmDialog>
</app-template>
