body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  background-color: #2196F3 !important;
  border-color: #2196F3 !important;
}

.actions {
  margin-bottom: 14px;
}

form {
  width: 100%;
}

.form-actions {
  display: flex;
  margin-top: 14px;

  * + * {
    margin-left: 14px;
  }
}

.column-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  * + * {
    margin-left: 10px;
  }
}

.citizen-portal-section {
  margin-top: 2em;
}

.citizen-portal-section {
  .citizen-portal-section-title {
    font-size: 27px;
    font-weight: bold;
    padding: 0 0.5em;
  }
  .accordion-citizen-portal-container {
    margin-top: 1em;
  }
}

.input-switch > label {
  width: 100px;
  display: inline-block;
}

.server-name, .switch-default-conference, .switch-show-statistics, .switch-show-calendar, .switch-show-statistics-panel{
  margin-top: 1em;
}

::ng-deep .switch-default-conference , ::ng-deep .switch-show-statistics, ::ng-deep .switch-show-calendar, ::ng-deep .switch-show-statistics-panel  {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  .targeted-label {
    margin-left: 5px;
  }
  .ui-inputswitch {
    width: 31px !important;
    height: 19px !important;
    align-content: center;

    .ui-inputswitch-slider {
      background-color: #868181 !important;
      border-radius: 10px !important;
      align-content: center;
      &::before {
        height: 1em !important;
        width: 1em !important;
        left: 2px !important;
        top: 0.1em !important;
        background-color: white !important;
      }
    }
  }

  .ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #FFA000 !important;
    border-color: #FFA000 !important;
    &::before {
      left: -6px !important;
    }
  }
}

::ng-deep .segmentation-accordion {
  .switch-segmentation {
    display: flex;
    align-items: center;
    .targeted-label {
      margin-left: 5px;
    }
  }
  .segmentation-items {
    padding: 1em 2em;
    .segmentation-item {
      margin-top: 3px;
    }
    .ui-radiobutton .ui-radiobutton-box {
      background-color: white !important;
      border-color: #868181;
      &:hover {
        border-color: #868181;
      }
    }
    .ui-radiobutton .ui-radiobutton-box.ui-state-active {
      background-color: white !important;
      border-color: #868181;
      &:hover {
        border-color: #868181;
      }
      .ui-radiobutton-icon {
        background-color: #868181;
      }
      .ui-radiobutton-label {
        margin-left: 0 !important;
      }
    }
  }

  .ui-accordion-content {
    padding: 1em !important;
  }
  .targeted-label {
    float:none !important;
  }
  .ui-radiobutton-label {
    float:none !important;
  }
  .ui-inputswitch {
    width: 31px !important;
    height: 19px !important;
    align-content: center;

    .ui-inputswitch-slider {
      background-color: #868181 !important;
      border-radius: 10px !important;
      align-content: center;
      &::before {
        height: 1em !important;
        width: 1em !important;
        left: 2px !important;
        top: 0.1em !important;
        background-color: white !important;
      }
    }
  }
  .ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #FFA000 !important;
    border-color: #FFA000 !important;
    &::before {
      left: -6px !important;
    }
  }
}

::ng-deep .accordion-citizen-container {
  padding: 0 !important;
}

::ng-deep .accordion-citizen-portal {
  .begin-date {
    padding-right: 0 !important;
    margin-top: 0.5em;
  }
  .end-date {
    padding-left: 1em !important;
    margin-top: 0.5em;
  }
  .container-label-display-mode {
    padding-bottom: 0 !important;
  }
  .label-display-mode {
    margin: 0 !important;
  }
  .options-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    .display-item {
      margin-top: 3px;
    }
    .ui-radiobutton .ui-radiobutton-box {
      background-color: white !important;
      border-color: #868181;
      &:hover {
        border-color: #868181;
      }
    }
    .ui-radiobutton .ui-radiobutton-box.ui-state-active {
      background-color: white !important;
      border-color: #868181;
      &:hover {
        border-color: #868181;
      }
      .ui-radiobutton-icon {
        background-color: #868181;
      }
      .ui-radiobutton-label {
        margin-left: 0 !important;
      }
    }
  }
  .ui-accordion-content {
    padding: 1em !important;
  }
  .targeted-label {
    float:none !important;
  }
  .ui-radiobutton-label {
    float:none !important;
  }
  .step-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    .step {
      width: 5%;
    }
    .title {
      width: 30%;
      margin-left: 1em;
    }
    .text {
      width: 65%;
      margin-left: 1em;
    }
    .button-plus-how-work {
      align-self: flex-end;
      button {
        margin-bottom: 4px;
        margin-left: 1em;
      }
    }
  }
  textarea {
    height: auto !important;
  }

  .steps-table-container {
    margin-top: 2em;
    .ui-table {
      .ui-table-thead tr {
        th.col-step {
          width: 10%;
        }
        th.col-title {
          width: 25%;
        }
        th.col-text {
          width: 55%;
        }
        th.col-action {
          width: 10%;
        }
      }
      .ui-table-tbody tr {
        td.col-step {
          text-align: center;
        }
        .ui-inputtext.step {
          text-align: center;
        }
        .ui-inputtext {
          background-color: white;
        }
        .button-delete {
          margin-left: 0.5em;
        }
        .col-action {
          text-align: center;
        }
      }
    }
  }
  .menu-label {
    margin-top: 5px;
  }
  .form-external-links-content {
    .button-plus-external-link {
      margin-bottom: 4px;
      align-self: flex-end;
    }
    .external-links-form-title {
      margin-top: 1em;
      font-weight: bold;
    }
  }
  .external-links-table-container {
    margin-top: 1em;
    .ui-table {
      .ui-table-thead tr {
        th.col-label {
          width: 25%;
        }
        th.col-url {
          width: 60%;
        }
        th.col-action {
          width: 15%;
          text-align: center;
        }
      }
      .ui-table-tbody tr {
        .ui-inputtext {
          background-color: white;
        }
        .button-delete {
          margin-left: 0.5em;
        }
        .col-action {
          width: 15%;
          text-align: center;
        }
      }
    }
  }
  .fileupload-container {
    .ui-fileupload .ui-fileupload-buttonbar {
      background-color: white !important;
      border: none !important;
    }
    .ui-fileupload-content {
      // display: none !important;
      background-color: transparent !important;
      border: none !important;
      padding: 0 !important;
      display: flex;
      width: 100%;
      .ui-message-icon {
        display: none;
      }
    }
  }
  .background-images-container {
    display: flex;
    flex-direction: row;
    .background-image-item {
      display: flex;
      flex-direction: column;
    }
    .background-image {
      border: 3px solid #E0E0E0;
      width: 100%;
      padding: 10px !important;
      align-self: center;
    }
    .pi {
      align-self: flex-end;
      font-size: 1.5em;
      color: red;
      padding-right: 0 !important;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 760px) {
  .column-actions {
    flex-direction: column;
    padding: 10px 0 !important;

    * + * {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .form-actions {
    flex-direction: column;

    * + * {
      margin-left: 0;
      margin-top: 14px;
    }
  }
  .begin-date {
    padding-right: 0.5em !important;
  }
  .end-date {
    padding-left: 0.5em !important;
  }
  .step-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .step {
      width: 100%;
    }
    .title {
      width: 100%;
      margin-left: 0;
    }
    .text {
      width: 100%;
      margin-left: 0;
    }
    .button-plus-how-work {
      align-self: flex-end;
      margin-top: 0.5em;
      button {
        margin-bottom: 4px;
        margin-left: 1em;
      }
    }
  }
  .button-plus-external-link {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .col-step, .col-action {
    text-align: left !important;
  }
}
