<app-template>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <h1>Página em branco</h1>
        <p>Use esta página para iniciar do zero, adicionando o seu conteúdo neste template.</p>
        <div class="p-col-12 p-md-4">
          <button
            pButton
            icon="pi pi-home"
            type="button"
            label="Voltar ao inicio"
            [routerLink]="['/home']"
          >
          </button>
        </div>
      </div>
    </div>
  </div>
</app-template>
