<app-template>
  <div class="row ui-fluid">
    <div class="col-12 col-lg-12">
      <div class="col-12 col-lg-12 search-small-container">
        <div class="col-6 col-lg-6 search-itens">
          <div *ngIf="!search">
            <a class="search" (click)="changeSmallFilter('Pending')"
              [ngClass]="{'filter-active': filter.status === 'Pending'}">{{ 'moderation.filters.pending'| translate }}</a> |
            <a class="search" (click)="changeSmallFilter('All')"
              [ngClass]="{'filter-active': filter.status === 'All'}">{{ 'moderation.filters.all'| translate }}</a> |
            <a class="search" (click)="changeSmallFilter('Removed')"
              [ngClass]="{'filter-active': filter.status === 'Removed'}">{{ 'moderation.filters.trash'| translate }}</a>
          </div>
        </div>
        <div class="col-6 col-lg-6 search-right">
          <a class="search"
           (click)="toggleSearch()">{{ (search ? 'hide' : 'search') | translate }}</a>
        </div>
      </div>
      <div class="col-12 col-md-12" *ngIf="search">
        <div class="row ui-fluid search-complete">
          <div class="col-md-3 col-12 col-md-3 form-group">
            <label class="form-label">{{ 'moderation.filters.status' | translate }}</label>
            <p-dropdown [styleClass]="'d-flex form-control'" [options]="statusOptions" [(ngModel)]="filter.status">
            </p-dropdown>
          </div>
          <div class="col-12 col-md-3 form-group">
            <label>{{ 'moderation.filters.from' | translate }}</label>
            <p-dropdown [styleClass]="'d-flex form-control'" [options]="fromOptions" [(ngModel)]="filter.from"></p-dropdown>
          </div>
          <div class="col-12 col-md-3 form-group" *ngIf="regionalization">
            <label>{{ labelMicroregion }}</label>
            <p-dropdown [styleClass]="'d-flex form-control'" [options]="microregion" [(ngModel)]="filter.localityId"></p-dropdown>
          </div>
          <div class="col-12 col-md-3 form-group">
            <label>{{ labelPlanItem }}</label>
            <p-dropdown [styleClass]="'d-flex form-control'" [options]="planItem" [(ngModel)]="filter.planItemId"></p-dropdown>
          </div>
          <div class="col-12 col-md-3 form-group">
            <label>{{ 'moderation.filters.text' | translate }}</label>
            <input pInputText class="form-control" [(ngModel)]="filter.text"/>
          </div>
          <div class="col-12 col-md-3 form-group">
            <label>{{ 'moderation.filters.startAt' | translate }}</label>
            <p-calendar [styleClass]="'w-100'" [inputStyleClass]="'form-control'" dateFormat="dd/mm/yy" (onSelect)="changeDate('initialDate',$event)"
                        [locale]="calendarTranslate">
            </p-calendar>
          </div>
          <div class="col-12 col-md-3 form-group">
            <label>{{ 'moderation.filters.endAt' | translate }}</label>
            <p-calendar [styleClass]="'w-100'" [inputStyleClass]="'form-control'" dateFormat="dd/mm/yy" (onSelect)="changeDate('endDate',$event)" [locale]="calendarTranslate">
            </p-calendar>
          </div>
          <div class="col-12 col-md-3 mt-auto">
            <button pButton [icon]="getIcon('pi pi-search')" [disabled]="loading" (click)="searchHandle();"
                    [label]="'search' | translate"></button>
          </div>
        </div>
      </div>
      <div class="card card-w-title moderation-item" *ngIf="conferenceComments?.length === 0">
        {{ 'moderation.label.empty_comments' | translate }}
      </div>
      <div class="row my-2" *ngIf="conferenceComments.length > 0">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pageState.first" [rows]="pageState.rows" [totalRecords]="paginatorTotalRecords" [rowsPerPageOptions]="[15, 35, 50]"></p-paginator>
      </div>
      <div class="card card-w-title moderation-item" *ngFor="let comment of conferenceComments">
        <div class="row ui-fluid">
          <div class="col-12 col-md-6">
            <div class="row">
              <span [class]="comment?.status.toLowerCase()">{{  comment?.status.toLowerCase() | translate  }}</span>
              <span
                class="moderation-for"
                *ngIf="comment?.moderatorName && !(comment?.moderated)">{{ 'moderation.label.in_moderation_by' | translate}}
                {{ comment.moderatorName }} | {{ timesAgo(comment?.moderateTime) }}
              </span>
            </div>
            <div class="description">
              {{ comment.text }}
            </div>
            <div class="info">
              {{ comment.citizenName }} |
              {{ 'moderation.label.' + comment?.from.toLowerCase() | translate }} |
              {{ timesAgo(comment?.time) }} |
              {{ comment.localityName }}
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="info">{{ comment.structureItemName }}</div>
            <div>{{ comment.planItemName }}</div>
          </div>
          <div class="col-12 col-md-2 align-middle ">
            <div class="col-12">
              <p-radioButton [name]="'optionModeration_' + comment.commentId"
                             (onClick)="selectCommentType(comment)" [(ngModel)]="comment.type"
                             value="Proposal" [label]="'moderation.label.proposal' | translate">
              </p-radioButton>
            </div>
            <div class="col-12">
              <p-radioButton [name]="'optionModeration_' + comment.commentId"
                             (onClick)="selectCommentType(comment)" [(ngModel)]="comment.type"
                             value="Comment" [label]="'moderation.label.comment'| translate ">
              </p-radioButton>
            </div>
          </div>
          <div class="col-12 col-md-1 align-content-center actions">
            <!-- <div class="row actions"> -->
              <button pButton class="btn align-content-center btn-sm btn-primary" [disabled]="comment.disableModerate"
                      [pTooltip]="'moderation.label.btnPublish' | translate" (click)="publish(comment)">
                <img src="assets/layout/images/icons/internet.svg" alt=""/>
              </button>
              <button pButton class="btn align-content-center btn-sm btn-primary" [disabled]="comment.disableModerate" icon=""
                      [pTooltip]="'moderation.label.btnModerate' | translate"
                      (click)="moderate(comment)">
                <img src="assets/layout/images/icons/king.svg" alt=""/>
              </button>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="row my-2" *ngIf="conferenceComments.length > 0">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pageState.first" [rows]="pageState.rows" [totalRecords]="paginatorTotalRecords" [rowsPerPageOptions]="[15, 35, 50]"></p-paginator>
      </div>
    </div>
  </div>
  <p-dialog class="" modal="true" [draggable]="false" [style]="{width: '500px'}" [closable]="false"
            [header]="'moderation.label.select_conference' | translate" [visible]="showSelectConference">
    <div class="conferences-item-select-modal" *ngFor="let conference of conferencesActives"
         (click)="selectOtherConference(conference)">
      <h4>{{ conference.name }}</h4>
      <small>{{ conference.description }}</small>
      <div class="date-container">
        <div class="date">
          <i class="pi pi-calendar"></i>
          {{ conference.beginDate }}
        </div>
        <div class="date">
          <i class="pi pi-calendar"></i>
          {{ conference.endDate }}
        </div>
      </div>
    </div>
    <p-footer>
      <div class="action-modal">
        <button pButton label="Fechar" (click)="showSelectConference = false"></button>
      </div>
    </p-footer>
  </p-dialog>
  <p-confirmDialog [header]="'moderation.label.confirm_publish_title'|translate" icon="pi pi-exclamation-triangle"
                   key="confirm_publish">
  </p-confirmDialog>
  <p-confirmDialog [header]="'moderation.label.confirm_alter_moderator_title'|translate"
                   icon="pi pi-exclamation-triangle"
                   key="confirm_alter_moderator">
  </p-confirmDialog>
</app-template>
