$primaryLighterColor:#F7C4B4;
$primaryColor:#EA7753;
$primaryDarkerColor:#A65238;
$primaryDarkestColor:#6A3321;
$primaryColorText:#ffffff;

$accentColor:$primaryColor;
$accentDarkerColor:$primaryDarkerColor;
$accentColorText:$primaryColorText;

$containerHeaderBgColor:#eeeeee;
$containerHeaderBorder:1px solid #e0e0e0;
$containerHeaderTextColor:#212121;
$containerHeaderIconColor:#757575;
$containerHeaderIconHoverColor:#212121;

$clickableContainerHeaderBgColor:#eeeeee;
$clickableContainerHeaderBorder:1px solid #e0e0e0;
$clickableContainerHeaderTextColor:#212121;
$clickableContainerHeaderIconColor:#757575;

$clickableContainerHeaderHoverBgColor:#e0e0e0;
$clickableContainerHeaderHoverBorder:1px solid #bdbdbd;
$clickableContainerHeaderHoverTextColor:#212121;
$clickableContainerHeaderHoverIconColor:#757575;

$clickableContainerHeaderActiveBgColor:$primaryColor;
$clickableContainerHeaderActiveBorder:1px solid $primaryColor;
$clickableContainerHeaderActiveTextColor:$primaryColorText;
$clickableContainerHeaderActiveIconColor:$primaryColorText;

$clickableContainerHeaderActiveHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderActiveHoverTextColor:$primaryColorText;
$clickableContainerHeaderActiveHoverIconColor:$primaryColorText;

@import '../../sass/theme/theme';