.evalStatus-locality {
  span.evalStatus-text {
    font-weight: 700;
    margin-right: 5px;
    font-size: 1rem;

    &.evaluated {
      color: #00c853;
    }

    &.not-evaluated {
      color: #ef8533;
    }
  }

  span.divider,
  span.locality-text {
    color: #9a9a9a;
    margin-left: 0.5rem;
  }
}

.description-text p {
  text-align: justify;
}

.planItemArea-planItem {
  span.divider {
    color: #9a9a9a;
    margin: auto 0.75rem;
  }

  span.planItemArea-text,
  span.planItem-text {
    color: #9a9a9a;
  }
}

button.org-badge {
  border: none;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  margin-right: 0.7rem;
  padding: 0 2rem;
  color: white;
  font-size: 0.75rem;

  &.loaIncluded {
    background-color: #00c853;
  }

  &.not-loaIncluded {
    background-color: #aaaaaa97;
  }

  &.not-evaluated {
    background-color: #ef8533;
  }
}

.dropdown-modal {
  display: flex;
  padding-right: 10px;
}

.input-switch-modal {
  margin-top: 5px;
  margin-left: 5px;
}

::ng-deep .p-dropdown-item {
  padding: 5px;
}

::ng-deep .field-switch {
  display: flex;
  align-items: center;
  label {
    font-weight: normal;
    margin-left: 0.4rem;
  }
}

::ng-deep {
  app-modal .app-modal {
    width: auto !important;

    @media screen and (max-width: 991px) {
      width: 80% !important;
    }
  }
}
