<app-template>
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-12">
      <section *ngIf="!edit">
        <section>
          <div class="p-grid ui-fluid actions">
            <div class="ui-g-5 ui-md-2 ui-lg-2">
              <button pButton type="button" class="button-new" [label]="'new'|translate" icon="pi pi-plus"
                      (click)="handleCreateOrEdit()">
              </button>
            </div>
            <div class="ui-g-2 ui-md-8 ui-lg-9"></div>
            <div class="ui-g-5 ui-md-2 ui-lg-1 search">
              <a class="search" (click)="toggleSearch()">{{ (search ? 'hide' : 'search') |translate }}</a>
            </div>
          </div>
        </section>
        <div class="search-form card card-w-title" *ngIf="search">
          <form [formGroup]="searchForm" (submit)="loadMeetings(searchForm.value)">
            <div class="p-grid ui-fluid">
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label for="nameSearch">{{'conference.meeting.name'|translate}}</label>
                <input id="nameSearch" pInputText formControlName="name">
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label for="beginDate">{{'date.start'|translate}}</label>
                <p-calendar dateFormat="dd/mm/yy" [showSeconds]="false" [showTime]="true"
                            formControlName="beginDate"
                            [locale]="calendarTranslate">
                </p-calendar>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label for="endDate">{{'date.end'|translate}}</label>
                <p-calendar dateFormat="dd/mm/yy" [showSeconds]="false" [showTime]="true" formControlName="endDate"
                            [locale]="calendarTranslate">
                </p-calendar>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label for="plan">{{ localitySrv.getTranslatedLabelLocality(labelLocality) }}</label>
                <p-multiSelect [options]="localities" formControlName="localities"
                               [placeholder]="'placeholder.select'|translate" class="ng-dirty ng-invalid">
                </p-multiSelect>
              </div>

              <div class="ui-g-12 ui-md-3 ui-lg-3 p-col-align-end">
                <button pButton icon="pi pi-search" type="submit" [label]="'search'|translate"></button>
              </div>
              <div class="ui-g-12 ui-md-4 ui-lg-3 p-col-align-end">
                <button pButton icon="pi pi-ban" type="button" [label]="'clean.search'|translate"
                        (click)="clearSearch()"></button>
              </div>
            </div>
          </form>
        </div>
        <section class="meetings-container">
          <div class="meeting-item d-flex" *ngFor="let meeting of meetings">
            <div class="col-12 col-md-4" >
              <div class="info-container row">
                <div class="col-md-2" >
                  <div class="icon-container" *ngIf="meeting.typeMeetingEnum === 'PRESENCIAL'">
                    <img src="assets/layout/images/icons/marker-alt.png" class="marker-img-solo" alt="">
                  </div>
                  <div class="icon-container" *ngIf="meeting.typeMeetingEnum === 'VIRTUAL'">
                    <i class="pi pi-desktop icon-type-meeting desktop-icon"></i>
                  </div>
                  <div class="icon-container" *ngIf="meeting.typeMeetingEnum === 'PRESENCIAL_VIRTUAL'">
                    <img src="assets/layout/images/icons/marker-alt.png" class="marker-img" alt="">
                    <i class="pi pi-desktop icon-type-meeting"></i>
                  </div>
                </div>
                <div class="col-md-10" >
                  <div>
                    <h2>{{meeting.name}}</h2>
                    <div class="date-container">
                      <span>{{meeting.beginDate}}</span>
                      <span>a</span>
                      <span>{{meeting.endDate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="/*locality-container*/">
                <h2>{{meeting?.localityPlace?.name}}</h2>
                <span>{{meeting.address}}</span>
              </div>
            </div>
            <div class="col-12 col-md-2">
              <div class="/*locality-container*/">
                <span>{{meeting?.showChannels}}</span>
              </div>
            </div>
            <div class=" col-12 col-md-2 d-flex justify-content-center" >
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item pointer" (click)="generateQRCodeAutoChekIn(meeting)"><span class="icon" ><i class="fa fa-qrcode" ></i></span>{{'conference.meeting.action.qrcode' | translate}}</a></li>
                  <li><a class="dropdown-item pointer" (click)="generateLinkMeetingPrecadastro(meeting)"><span class="icon" ><i class="fa fa-link" ></i></span>{{'conference.meeting.action.link' | translate}}</a></li>
                  <li><a class="dropdown-item pointer"  id="pencil" (click)="handleCreateOrEdit(meeting.id)"><span class="icon" ><i class="pi pi-pencil" ></i></span>{{'conference.meeting.action.edit' | translate}}</a></li>
                  <li><a class="dropdown-item pointer" (click)="handleShowPanel(meeting.id)"><span class="icon" ><i class="pi pi-external-link" ></i></span>{{'conference.meeting.action.panel' | translate}}</a></li>
                  <li><a class="dropdown-item pointer" (click)="handleDelete(meeting)"><span class="icon" ><i class="pi pi-trash" ></i></span>{{'conference.meeting.action.delete' | translate}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </section>
      <section class="card card-w-title" *ngIf="edit">
        <section class="p-col-12 p-md-8">
          <div class="p-col-12 p-md-12" style="height: 60px;">{{ 'conference.meeting.title' | translate }}</div>
          <form [formGroup]="form" (submit)="save(form.value)" *ngIf="form">
            <div class="p-col-9">
              <span class="p-col-3" *ngFor="let type of optionsTypesMeeting">
                <p-radioButton [disabled]="typeMeetingAlreadySet" [id]="type.value" name="type"
                                [value]="type.value"
                                formControlName="type"
                                (onClick)="changeTypeMeeting()"></p-radioButton>
                <label [for]="type.value" class="label-type-meeting">{{type.label}}</label>
              </span>
            </div>
            <div class="p-col-12 p-md-12">
              <label for="name">{{'conference.meeting.name'|translate}}</label>
              <input pInputText formControlName="name">
              <tt-input-message [form]="form" field="name"></tt-input-message>
            </div>
            <div class="p-col-8 inline">
              <div class="p-col-12 p-md-6">
                <label for="beginDate">{{'conference.meeting.beginDate'|translate}}</label>
                <p-calendar *ngIf="calendarTranslate" dateFormat="dd/mm/yy" (onSelect)="changeBeginDate($event)"
                            formControlName="beginDate" [showSeconds]="false" [showTime]="true"
                            [locale]="calendarTranslate">
                </p-calendar>
                <tt-input-message [form]="form" field="beginDate"></tt-input-message>
              </div>
              <div class="p-col-12 p-md-6">
                <label for="endDate">{{'conference.meeting.endDate'|translate}}</label>
                <p-calendar *ngIf="calendarTranslate" dateFormat="dd/mm/yy" [showTime]="true" [minDate]="minDate"
                            formControlName="endDate" [showSeconds]="false" [locale]="calendarTranslate">
                </p-calendar>
                <tt-input-message [form]="form" field="endDate"></tt-input-message>
              </div>
            </div>
            <div class="p-col-12 p-md-12" *ngIf="validTypeDifferentFromVirtual()">
              <div style="padding-bottom:5px;">{{ localitySrv.getTranslatedLabelLocality(labelLocality) }}</div>
              <p-listbox styleClass="pListCustom" [options]="localities" formControlName="localityPlace"
                         checkbox="checkbox" filter="filter">
              </p-listbox>
            </div>
            <div class="p-col-12 p-md-12" *ngIf="validTypeDifferentFromVirtual()">
              <label for="address">{{'conference.meeting.address'|translate}}</label>
              <input pInputText formControlName="address">
              <tt-input-message [form]="form" field="address"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-12" *ngIf="validTypeDifferentFromVirtual()">
              <label for="place">{{'conference.meeting.place'|translate}}</label>
              <input pInputText formControlName="place">
              <tt-input-message [form]="form" field="place"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-12">
              <div style="padding-bottom:5px;">{{ 'conference.meeting.localityCovers' | translate }}</div>
              <p-listbox styleClass="pListCustom" [options]="localitiesCover" formControlName="localityCovers"
                         checkbox="checkbox" filter="filter" multiple="multiple">
              </p-listbox>
            </div>
            <div class="p-col-12 p-md-12" *ngIf="planItems.length > 0">
              <div style="padding-bottom:5px;">{{ 'conference.meeting.segmentation' | translate }}</div>
              <p-listbox styleClass="pListCustom" [options]="planItems" formControlName="segmentations"
                         checkbox="checkbox" filter="filter" multiple="multiple">
              </p-listbox>
            </div>
            <p-accordion [multiple]="true" *ngIf="validTypeDifferentFromPresential()">
              <p-accordionTab header="{{'conference.meeting.broadcast-channels' | translate}}"
                              styleClass="tabStyleClass">
                <form [formGroup]="formChannels" *ngIf="formChannels" (submit)="handleAddChannel()">
                  <tt-input-message [form]="formChannels" field="containsChannel"></tt-input-message>
                  <div class="p-grid ui-fluid">
                    <div class="ui-g-12 ui-md-5 flex-1">
                      <label for="name"> {{ 'conference.meeting.name' | translate }}</label>
                      <input id="name" pInputText formControlName="name">
                      <tt-input-message [form]="formChannels" field="name"></tt-input-message>
                    </div>
                    <div class="ui-g-12 ui-md-5 flex-1">
                      <label for="url"> {{ 'conference.meeting.url' | translate }}</label>
                      <input id="url" pInputText formControlName="url">
                      <tt-input-message [form]="formChannels" field="url"></tt-input-message>
                    </div>
                    <div class="ui-g-12 ui-md-1 p-col-align-end flex-0">
                      <button pButton type="submit" icon="pi pi-plus"></button>
                    </div>
                  </div>
                </form>
                <div class="broadcast-channels-table-container" *ngIf="channels && channels.length > 0">
                  <p-table [value]="channels" dataKey="tableId" editMode="row">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="col-name">Nome</th>
                        <th class="col-url">URL</th>
                        <th class="col-action"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-channel let-editing="editing" let-index="rowIndex">
                      <tr [pEditableRow]="channel">
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="channel.name"
                                     [ngModelOptions]="{standalone: true}">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{channel.name}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="channel.url"
                                     [ngModelOptions]="{standalone: true}">
                            </ng-template>
                            <ng-template pTemplate="output">
                                                        <span (click)="goToLink(channel.url)" class="link-channel">
                                                          {{channel.url}}
                                                        </span>
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                  class="ui-button-info" (click)="onRowEditChannelInit(channel)"></button>
                          <button *ngIf="!editing" pButton type="button" icon="pi pi-trash"
                                  class="ui-button-info button-delete" (click)="onDeleteChannel(index)"></button>
                          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                  class="ui-button-success" style="margin-right: .5em"
                                  (click)="onRowEditChannelSave(channel)"></button>
                          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                  class="ui-button-danger" (click)="onRowEditChannelCancel(channel, index)"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-accordionTab>
            </p-accordion>

            <div class="attendance-list-mode" *ngIf="validTypeDifferentFromVirtual()">
              <div class="p-col-12">{{ 'conference.meeting.attendanceList' | translate }}</div>
              <span class="p-col-3" *ngFor="let mode of optionsAttendanceListModes">
                <p-radioButton [disabled]="false" [id]="mode.value" name="attendanceListMode"
                                [value]="mode.value"
                                formControlName="attendanceListMode"></p-radioButton>
                <label [for]="mode.value" class="label-type-meeting">{{mode.label}}</label>
              </span>
            </div>


            <p-accordion [multiple]="true" *ngIf="validTypeDifferentFromVirtual() && form.value.attendanceListMode === attendaceListModesEnum.AUTO">
              <p-accordionTab header="{{'conference.meeting.receptionists' | translate}}"
                              styleClass="tabStyleClass">
                <form [formGroup]="searchFormReceptionists"
                      (submit)="handleSearchReceptionists(searchFormReceptionists.value)">
                  <div class="p-grid ui-fluid">
                    <div class="ui-g-12 ui-md-10">
                      <label for="mail"> {{ 'conference.meeting.mail' | translate }}</label>
                      <input id="mail" pInputText formControlName="mail">
                    </div>
                    <div class="ui-g-12 ui-md-2 p-col-align-end">
                      <button pButton type="submit" icon="pi pi-search"
                              [label]="'search'|translate"></button>
                    </div>
                  </div>
                </form>

                <div class="header-table">{{'conference.meeting.receptionists' | translate}}</div>
                <p-table [value]="receptionistsSearch">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td>{{data.name}}</td>
                      <td>{{data.contactEmail}}</td>
                      <td>
                        <button pButton icon="pi pi-plus" type="button"
                                (click)="activateReceptionist(data)"></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="3">
                        {{ 'conference.meeting.receptionists-not-found' | translate }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="header-table">{{'conference.meeting.receptionists-active' | translate}}
                </div>
                <p-table [value]="receptionistsActived">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr>
                      <td>{{data.name}}</td>
                      <td>{{data.contactEmail}}</td>
                      <td>
                        <button pButton icon="pi pi-trash"
                                (click)="removeReceptionist(i)"></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="3">
                        {{ 'conference.meeting.receptionists-active-empty' | translate }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-accordionTab>
            </p-accordion>
            <div class="p-col-12 p-md-6">
              <div class="form-actions">
                <button pButton icon="pi pi-check" type="submit" [label]="'save'|translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate" (click)="cancel()"></button>
              </div>
            </div>
          </form>
        </section>
      </section>
    </div>
  </div>
</app-template>

<app-modal id="geraLink" [modalData]="modalData">
  <div *ngIf="meetingUrl && meetingUrl.url != '';else noLinkContent" >
    <div class="text-center">
      <span class="text-center"><a href="{{meetingUrl.url}}" target="_blank">{{meetingUrl.url}}</a></span><br>
      <button class="btn btn-outline-primary mt-3" (click)="copyUrl(meetingUrl.url)" type="button" ><span class="m-2"><i class="far fa-copy" ></i></span>Copiar</button>
    </div>
  </div>
  <ng-template #noLinkContent>
    <div class="text-center">
      <span class="text-center">Nenhum link gerado para este evento.</span><br>
    </div>
    
  </ng-template>
</app-modal>
<app-modal id="QRCodeImage" [modalData]="modalData">
  <div *ngIf="ImageQrCode && ImageQrCode != ''" >
    <div class="text-center">
      <h3>Auto Check In</h3>
      <div class="col-12 text-center" >
        <img class="img-fluid" src="{{ImageQrCode}}" />
      </div>
      <a href="{{ImageQrCode}}" class="btn btn-outline-primary mt-3" download="{{'QRCode auto check in ' + meetingDataSelected.name + '.png'}}"  ><span class="m-2"><i class="fas fa-download" ></i></span>Baixar</a>
    </div>
  </div>
</app-modal>

<p-dialog class="" modal="true" [draggable]="false" [style]="{width: '500px'}" [closable]="false"
          [header]="'moderation.label.select_conference' | translate" [visible]="showSelectConference">
  <div class="conferences-item-select-modal" *ngFor="let conference of conferencesActives"
       (click)="selectOtherConference(conference)">
    <h4>{{ conference.name }}</h4>
    <small>{{ conference.description }}</small>
    <div class="date-container">
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.beginDate }}
      </div>
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.endDate }}
      </div>
    </div>
  </div>
  <p-footer>
    <div class="action-modal">
      <button pButton label="Fechar" (click)="showSelectConference = false"></button>
    </div>
  </p-footer>
</p-dialog>
<p-confirmDialog [header]="'conference.meeting.delete'|translate" icon="pi pi-exclamation-triangle" key="deleteConfirm">
</p-confirmDialog>
<p-dialog class="modal" modal="true" [draggable]="false" [style]="{width: '500px'}" [closable]="false"
          [header]="'moderation.label.select_conference' | translate" [visible]="showSelectConference">
  <div class="conferences-item-select-modal" *ngFor="let conference of conferencesActives"
       (click)="selectOtherConference(conference)">
    <h4>{{ conference.name }}</h4>
    <small>{{ conference.description }}</small>
    <div class="date-container">
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.beginDate }}
      </div>
      <div class="date">
        <i class="pi pi-calendar"></i>
        {{ conference.endDate }}
      </div>
    </div>
  </div>
  <p-footer>
    <div class="action-modal">
      <button pButton label="Fechar" (click)="showSelectConference = false"></button>
    </div>
  </p-footer>
</p-dialog>
