body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
  }

  .actions {
    margin-bottom: 14px;
  }

  .pesquisar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-size: 16px;
    }
  }

  form {
    width: 100%;
  }

  .form-actions {
    display: flex;
    margin-top: 14px;

    * + * {
      margin-left: 14px;
    }
  }

  .column-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    * + * {
      margin-left: 10px;
    }
  }

  .search {
    cursor: pointer;
    text-align: right;
  }

  .search-form {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 14px;
    margin-bottom: 14px;
  }

  .input-switch > label {
    width: 100px;
    display: inline-block;
  }

  @media only screen and (max-width: 760px) {
    .column-actions {
      flex-direction: column;
      padding: 10px 0 !important;

      * + * {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    .form-actions {
      flex-direction: column;

      * + * {
        margin-left: 0;
        margin-top: 14px;
      }
    }
  }

section.meetings-container {
  display: flex;
  flex-direction: column;
  .meeting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 2px 2px 5px;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    background: white;
    h2 {
      margin-bottom: 4px;
      margin-top: 0;
      font-size: 1.2rem;
      text-transform: capitalize;
      color: #666;
    }
    .info-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      min-width: 350px;
      flex: 0.5;
      .date-container {
        span {
          margin-right: 10px;
        }
      }
      .icon-container {
        display: flex;
        flex: 0.3;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
      }
      .marker-img {
        width: 1em;
        margin: 0 1em 0 0.5em;
      }
      .marker-img-solo {
        width: 1em;
        margin: 0 1.8em;
      }
      .desktop-icon {
        margin: 0 0.65em;
      }
      .icon-type-meeting {
        color: #f48730;
        font-size: 2em;
      }
    }
    .locality-container {
      flex: 0.5;
    }
    .action-container {
      display: flex;
      //width: 70px;
      justify-content: space-between;
    }
  }
}

.header-table {
  background: #3096f3;
  padding: 8px;
  text-align: center;
  color: white;
}

.form-actions button {
  width: auto !important;
  margin-right: 0 !important;
}

::ng-deep {
  .pListCustom .ui-listbox-list {
    max-height: 150px;
  }
  .label-type-meeting {
    margin-left: 10px;
    float: none;
  }
  .broadcast-channels-table-container {
    padding: 1em 0.3em;
      .ui-table {
        .ui-table-thead tr {
          th.col-name {
            width: 25%;
          }
          th.col-url {
            width: 60%;
          }
          th.col-action {
            width: 15%;
          }
        }
        .ui-table-tbody tr {
          .ui-inputtext {
            background-color: white;
          }
          .button-delete {
            margin-left: 0.5em;
          }
        }
      }
    }

}

@media screen and (min-width: 40.063em) {
  .flex-1 {
    flex: 1;
  }
  .flex-0 {
    flex: 0;
  }
  .inline {
    display: flex;
    padding: 0;
  }
  .link-channel {
    cursor: pointer;
  }
}

.attendance-list-mode {
  margin-bottom: 20px;
}

.action-button {
  margin-left: 5px;
}
