@import '../attendance.component.scss';

.contact {
  color: black !important;
  font-size: 1rem !important;
}

.list-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .result {
    padding: 1.5rem !important;

    &.announced {
      background-color: lightgray !important;
    }

    .btnAnunciar {
      border-radius: 1rem !important;
      padding-block: 1rem;
      width: 100%;

      @media screen and (min-width: 992px) {
        width: auto;
      }
    }
  }
}



.name {
  font-size: 20px !important;
}


.how-long-ago {
  margin-left: 0.75rem;
  font-size: larger;
}


.secondary-info {
  .organization {
    text-align: center;
  }

  .locality {
    text-align: center;
  }

  .info-preregister {
    .how-long-ago {
      font-size: .75rem;
    }

    .preregister-icon {
      height: 100%;
      width: 16px;
      margin-left: 1em;
    }
  }

  .info-checkin, .info-announced {
    .how-long-ago {
      font-size: 1rem;
    }
  }
}
