<app-template>
  <div class="edit-attendees">
    <section id="attendee-list">
      <div class="p-grid list-result">
        <div class="w-100" *ngIf="noResult">
          <div class="no-result">{{ "attendance.noResult" | translate }}</div>
        </div>
        <div class="result d-flex flex-column gap-2 flex-lg-row align-items-center"  *ngFor="let attendee of listAttendeesAuthority"
             [ngClass]="{'announced': attendee.announced}">
          <div class="how-long-ago d-lg-none">
            {{ attendee.announced ? 'Anunciado' : 'Anunciar' }}
          </div>
          <div class="d-flex flex-column col-12 col-lg-5">
            <div class="name text-center font-bold text-lg-start d-flex justify-content-center justify-content-lg-start">
              <span>{{ attendee.name | uppercase }}</span>
            </div>
            <div class="contact d-flex col-lg justify-content-center justify-content-lg-start">
              <span>{{ attendee.role | uppercase }}</span>
            </div>
          </div>
          <div class="info-place d-flex col-lg flex-column gap-1 justify-content-center mb-4 mb-sm-0">
            <p class="organization m-0">{{ attendee.organization | uppercase }}</p>
          </div>
          <button pButton class="btnAnunciar d-flex  col-lg-auto justify-content-center" *ngIf="!attendee.announced" (click)="toggleAnnounced(attendee)">Anunciei</button>
        </div>
        <ng-container *ngIf="isSearching">
          <ng-container
            *ngTemplateOutlet="
              loadingList;
              context: { $implicit: getListOfLettersForLoading() }
            "
          ></ng-container>
        </ng-container>
        <div *ngIf="!lastPage" class="load-more">
          <button
            pButton
            [label]="'attendance.loadMore' | translate"
            (click)="loadNextPageEdit()"
          ></button>
        </div>
      </div>
    </section>
  </div>
</app-template>

<ng-template #loadingList let-letters>
  <div class="col-12 result loading" *ngFor="let letter of letters">
    <div class="name-icon">
      <div class="letter-icon">{{ letter }}</div>
    </div>
    <div class="primary-info">
      <div class="name">
        <div class="loading">&nbsp;</div>
      </div>
      <div class="contact">
        <div class="loading">&nbsp;</div>
      </div>
    </div>
    <div class="secondary-info">
      <div class="info-place">
        <div class="locality">
          <div class="loading">&nbsp;</div>
        </div>
        <div class="region">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
      <div class="info-checkin">
        <div class="how-long-ago">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="action">
      <fa-icon size="2x" [icon]="iconCircle"></fa-icon>
    </div>
  </div>
</ng-template>

<p-dialog class="modal-change-meeting" modal="true" [draggable]="false" [resizable]="false" [(visible)]="showSelectMeeting" (onHide)="callbackHideModal()">
  <div class="label">{{ "administration.conference" | translate }}</div>
  <p-dropdown [options]="optionsConference" (onChange)="handleChangeConference()" [styleClass]="'d-flex form-control'" [(ngModel)]="selectedConference" optionLabel="name"></p-dropdown>
  <div class="label">{{ "meeting" | translate }}</div>
  <div class="form-group">
    <p-dropdown [options]="optionsMeeting" appendTo="body" [ngClass]="'d-flex w-100'" [styleClass]="'d-flex w-100 form-control'" [(ngModel)]="selectedMeeting" optionLabel="name"></p-dropdown>
  </div>
  <div class="col-12 col-lg-6 col-lg-3 m-auto">
    <div class="d-grid gap-2 mt-3">
      <button pButton class="btn btn-primary" [autofocus]="false" [label]="'change' | translate" icon="pi pi-sort-alt" (click)="setCurrentMeeting()"></button>
    </div>
  </div>
</p-dialog>
