<div class="layout-actionbar">
  <div class="breadcrumb">
    <div class="route-bar-breadcrumb">
      <ng-template ngFor let-item [ngForOf]="items">
        <li>
          <span class="ui-link ui-widget router-link" *ngIf="item.routerLink" [routerLink]="item.routerLink">{{ translateAllLabels(item.label) }}</span>
          <ng-container *ngIf="!item.routerLink">{{ translateAllLabels(item.label) }}</ng-container>
        </li>
      </ng-template>
    </div>
  </div>
  <div class="actions-container">
    <div class="actions-left">
      <div class="action-item" *ngFor="let action of actionsButtonLeft" [ngClass]="{'clickable': isClickable(action) }"
        (click)="handleEvent(action)">
        <img *ngIf="action?.icon" [src]="'assets/layout/images/icons/' + action?.icon" alt="">
        <span>{{ action?.label }}</span>
      </div>
    </div>
    <div class="actions-right">
      <div class="action-item" [ngClass]="{'clickable': isClickable(action)}" *ngFor="let action of actionsButtonRight"
        (click)="handleEvent(action)">
        <img *ngIf="action?.icon" [src]="'assets/layout/images/icons/' + action?.icon" alt="">
        <span>{{ action?.label }}</span>
      </div>
    </div>
  </div>
</div>
