.record-amount {
    color: var(--bs-gray-500);
}

.actions-container {
  justify-self: flex-end;
  display: flex;
  width: auto;
}

.actions-left {

}

.actions-right {

  justify-self: flex-end;
  flex-shrink: 0;

  @media screen and (max-width: 500px) {
    display: none;
  }
}
