.record-amount {
    color: var(--bs-gray-500);
}

.actions-container {
  justify-self: flex-end;
  display: flex;
  width: auto;
}

.actions-left {

}

.actions-right {

  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  flex-shrink: 0;

  .action-item {
    flex: 0 0 auto;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }
}
