.record-amount {
    color: var(--bs-gray-500);
}

.actions-container {
  justify-self: flex-end;
  display: flex;
  width: auto;
}

.actions-left {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  gap: 0.3rem;

  .action-item {
    flex: 0 0 auto;
    border: 1px solid var(--bs-gray-500);
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    width: 40px;
    border-radius: 5px;


  }


}

.actions-right {

  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;

  .action-item {
    flex: 0 0 auto;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }
}
