<div class="layout-actionbar d-flex flex-row">
  <div class="breadcrumb mb-0 col">
    <div class="route-bar-breadcrumb">
      <ng-template ngFor let-item [ngForOf]="items">
        <li class="">
          <span class="ui-link ui-widget router-link" *ngIf="item.routerLink"
                [routerLink]="item.routerLink">{{ translateAllLabels(item.label) }}</span>
          <ng-container *ngIf="!item.routerLink">{{ translateAllLabels(item.label) }}</ng-container>
        </li>
      </ng-template>
    </div>
  </div>
  <div class="actions-container col-2 flex-md-1 col-md-6">
    <div class="actions-left">
      <div class="action-item" *ngFor="let action of actionsButtonLeft" [ngClass]="{'clickable': isClickable(action) }"
           (click)="handleEvent(action)">
        <img *ngIf="action?.icon" [src]="'assets/layout/images/icons/' + action?.icon" alt="">
        <span>{{ action?.label }}</span>
      </div>
    </div>
    <div class="actions-right">
      <div class="action-item" [ngClass]="{'clickable': isClickable(action)}" *ngFor="let action of actionsButtonRight"
           (click)="handleEvent(action)">
        <img *ngIf="action?.icon" [src]="'assets/layout/images/icons/' + action?.icon" alt="">
        <span>{{ action?.label }}</span>
      </div>
    </div>
  </div>
  <div class="record-amount flex align-items-center" *ngIf="recordAmount">
    <fa-icon [icon]="recordAmount.icon"></fa-icon>
    {{recordAmount.amount | number: '1.0-0' : translationLang}}
    {{recordAmount.label | translate}}
  </div>
</div>
