.evaluator-div{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

button.org-badge {
    border: none;
    border-radius: 2px;
    margin-right: 0.7rem;
    padding: 0 2rem;
    color: white;
    font-size: 0.75rem;
}

.evaluated {
    background-color: #00c853;
}

.not-evaluated {
    background-color: #ef8533;
}

label {
    font-weight: bold;

    &+p{
        margin-left: 1.5rem;
        text-align: justify;
    }
}

p.budgetActionParagraphEl {
    margin-left: 1.5rem;
    text-align: justify;
}

.input-switch-modal{
    margin-top: 10px;
}
