<!-- <h3>Estilos CSS</h3> -->
<div class="row">
    <div class="col-md-8">
        <h3 class="fw-bolder text-center">Configurações</h3>
        <form [formGroup]="customStylesheet"  *ngIf="dataForm">
            <table class="table table-striped">
                <tbody>
                <tr>
                <td style="width: 30%;">
                    <label class="fw-bold mr-2 me-2">Plano de fundo:</label>
                </td>
                <td>
                    <div>
                        <p-radioButton class="mr-2 me-2" name="targetedByItemsGroup" (click)="getBackgroundInput('color')"  [value]="'color'" [label]="'Cor Sólida'" formControlName="typeColorBackground"></p-radioButton>
                        <p-radioButton name="targetedByItemsGroup" [value]="'gradient'" (click)="getBackgroundInput('gradient')" [label]="'Gradiente'" formControlName="typeColorBackground"></p-radioButton>
                        <div id="colorPicker" name="colorPicker" *ngIf="typeColorInput==='color'; else gradientPicker" class="mt-2" >
                            <input type="color"  class="form-control form-control-color" name="colorBackground" formControlName="colorBackground" (change)="changeColorBackground()"  />
                        </div>
                        <ng-template #gradientPicker>
                            <div>
                                <app-gradient (BackgroudDefined)="updateBackground($event)" ></app-gradient>
                            </div>
                        </ng-template>                             
                    </div>
                </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="textColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Borda:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="borderColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Destaque:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="accentColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardBackgroundColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Card em destaque:</label>
                    </td>
                    <td>
                       <input type="color"  class="form-control form-control-color" formControlName="accentCardColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto do card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardTextColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto destacado no card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="accentFontColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Borda do card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="textColor" (change)="changeColorText()"  />
                    </td>
                </tr>
            </tbody>
            </table>
        </form>
      </div>
      <div class="col-md-4 bg-dark-subtle p-3">
        <h3 class="fw-bolder text-center">Pré Visualização</h3>
        <div class="container p-2" [ngStyle]="{'background-color': backgroundColor, 'color': colorText}" >
          <p class="text-justify" > {{textExample}} </p>
        </div>
        <div class="card shadow mt-2" [ngStyle]="{'background-color': backgroundCardColor, 'color': textCardColor}" >{{textCard}}</div>
      </div>
    </div>