<!-- <h3>Estilos CSS</h3> -->
<div class="row">
    <div class="col-md-8">
        <h3 class="fw-bolder text-center">Configurações</h3>
        <form [formGroup]="dataForm"  *ngIf="dataForm">
            <table class="table table-striped">
                <tbody>
                <tr>
                <td style="width: 30%;">
                    <label class="fw-bold mr-2 me-2">Plano de fundo:</label>
                </td>
                <td>
                    <div>
                        <p-radioButton class="mr-2 me-2" id="typeBackground1" (click)="getBackgroundInput('color')"    [value]="'color'"      [label]="'Cor Sólida'" formControlName="typeBackgroundColor"></p-radioButton>
                        <p-radioButton class="mr-2 me-2" id="typeBackground2" (click)="getBackgroundInput('gradient')" [value]="'gradient'"   [label]="'Gradiente'"  formControlName="typeBackgroundColor"></p-radioButton>
                        <div  *ngIf="typeColorInput==='color'; else gradientPicker" class="mt-2" >
                            <input type="color"  class="form-control form-control-color" name="background" formControlName="background" (onChange)="changeColorBackground()"  />
                        </div>
                        <ng-template #gradientPicker>
                            <div>
                                <app-gradient (BackgroudDefined)="updateBackground($event)" ></app-gradient>
                            </div>
                        </ng-template>                             
                    </div>
                </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="fontColor" (change)="changeColorText()"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Borda:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="borderColor" (change)="changeBorderColor($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Destaque:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="accentColor" (change)="changeAccentColor($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardColor" (change)="changeCardColor($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Card em destaque:</label>
                    </td>
                    <td>
                       <input type="color"  class="form-control form-control-color" formControlName="cardColorHover" (change)="changeCardColorAccent($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto do card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardFontColor" (change)="changeCardText($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Texto destacado no card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardFontColorHover" (change)="changeCardTextAccent($event)"  />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fw-bold mr-2 me-2">Borda do card:</label>
                    </td>
                    <td>
                        <input type="color"  class="form-control form-control-color" formControlName="cardBorderColor" (change)="changeCardBorderColor($event)"  />
                    </td>
                </tr>
            </tbody>
            </table>
        </form>
      </div>
      <div class="col-md-4 bg-dark-subtle p-3">
        <h3 class="fw-bolder text-center">Pré Visualização</h3>
        <div class="container p-2" [ngStyle]="{'background-color': backgroundColor, 'color': colorText}" >
          <p class="text-justify" > {{textExample}} </p>
        </div>
        <div class="card shadow mt-2" [ngStyle]="{'background-color': colorCard, 'color': colorTextCard}" >{{textCard}}</div>
      </div>
    </div>