.layout-footer {
  padding: 35px 0;
    color: $footerTextColor;
    text-align: center;

    p {
      max-width: 800px;
      margin: 0 auto;
    }

    .footerText {
      @media screen and (max-width: 768px) {
        font-size: smaller;
      }
    }
}


