<app-template>
  <div class="edit-attendees">
    <ng-container *ngIf="isAttendeeSelected; else list">
      <div class="col-12 col-md-6 m-a">
        <form class="row form-edit-account" [formGroup]="form" (submit)="saveEdit()">
          <div class="col-12 title">
            <span>{{ 'attendance.editAttendanceIn' | translate }}</span>
            <span class="remove-action" (click)="uncheckIn()" [pTooltip]="getTooltipRemoveText()"
                  tooltipStyleClass="tooltip-uncheck">
              <fa-icon [icon]="iconRemove"></fa-icon>
              {{ 'attendance.removeAttendee' | translate }}
            </span>
          </div>
          <div class="col-12">
            <label class="required form-label">{{ 'name' | translate }}</label>
            <input pInputText class="form-control" formControlName="name">
            <tt-input-message [form]="form" field="name"></tt-input-message>
          </div>
          <div class="col-12">
            <label class="required form-label">{{ localitySrv.getTranslatedLabelLocality(localityLabel) }}</label>
            <p-dropdown [options]="optionsLocalities" formControlName="locality" [styleClass]="'w-100'"
                        [placeholder]="'placeholder.select' | translate"></p-dropdown>
            <tt-input-message [form]="form" field="locality"></tt-input-message>
          </div>
          <div class="col-12">
            <label>{{ 'attendance.authentication' | translate }}</label>
            <div class="auth-type">
              <img *ngIf="form.get('resetPassword').value && !citizenHasNativeAuth"
                   src="/assets/layout/images/icons/participe.svg" title="Participe" alt=""/>
              <img *ngFor="let auth of citizenAutentications" [src]="authSrv.getAuthenticationIcon(auth.loginName)"
                   [title]="auth.loginName" [alt]="auth.loginName"/>
            </div>
          </div>
          <div class="col-12">
            <label [class.required]="form.get('authType').value === 'E-Mail'">{{ 'citizen.mail' | translate }}</label>
            <input pInputText readonly class="form-control" formControlName="email">
            <tt-input-message [form]="form" field="email"></tt-input-message>
          </div>
          <div class="col-12">
            <label>{{ 'citizen.phone' | translate }}</label>
            <p-inputMask mask="(99) 99999-9999" placeholder="(00) 00000-0000" unmask="true"
                         formControlName="phone" [styleClass]="'form-control'" ></p-inputMask>
            <tt-input-message [form]="form" field="phone"></tt-input-message>
          </div>
          <div class="col-12">
            <div class="form-actions">
              <button pButton icon="pi pi-check" class="me-3" type="submit" [label]="'save' | translate"></button>
              <button pButton icon="pi pi-ban" type="button" [label]="'cancel' | translate"
                      (click)="toggleSelectedAttendee()"></button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-template #list>
      <div class="row col-md-6">
        <div class="col-md-4">
          <p-dropdown [options]="optionsOrderBy" [(ngModel)]="selectedOrderBy" [styleClass]="''" (onChange)="searchByName()">
            <ng-template let-option pTemplate="selectedItem">
              {{ ('attendance.orderBy' | translate) + ': ' + (option.label | translate) }}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.label | translate }}
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-md-4">
          <div class="county p-float-label">
            <p-autoComplete id="search-county" field="name" [(ngModel)]="selectedCounty" class="d-flex h-100"
                            [suggestions]="resultSearchCounty" [inputStyleClass]="'h-100 form-control'"
                            (completeMethod)="handleSearchCounty($event)" [forceSelection]="true"
                            (onSelect)="searchByName()"></p-autoComplete>
            <label for="search-county">{{ localitySrv.getTranslatedLabelLocality(localityLabel) }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            <div class="input-group mb-3">
              <input type="text" class=" d-flex form-control" id="search-name" pInputText [(ngModel)]="nameSearch" (keydown.enter)="searchByName()"/>
              <label class="input-group-text cursor-pointer"  (click)="searchByName()" for="search-name"> {{ 'search' | translate }}
              <i class="ps-1 fa fa-search"></i>
                <!-- <button pButton icon="pi pi-search" class="for" (click)="searchByName()"></button> -->
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid list-result">
        <div class="col-12" *ngIf="noResult">
          <div class="no-result">{{ 'attendance.noResult' | translate }}</div>
        </div>
        <div class="col-12 result" *ngFor="let attendee of listAttendees">
          <div class="name-icon">
            <div class="letter-icon" [ngStyle]="{ backgroundColor: getNameIconColor(attendee.name)}">
              {{ attendee.name ? attendee.name[0].toUpperCase() : 'A' }}
            </div>
          </div>
          <div class="primary-info">
            <div class="name">{{ attendee.name }}</div>
            <div class="contact">
              <span>{{ attendee.email }}</span>
              <span *ngIf="attendee.telephone">{{ ' - ' + attendee.telephone }}</span>
            </div>
          </div>
          <div class="secondary-info">
            <div class="info-place">
              <div class="locality">{{ attendee.locality }}</div>
              <div class="region">{{ attendee.superLocality }}</div>
            </div>
            <div class="info-checkin">
              <div class="how-long-ago" [pTooltip]="attendee.checkedInDate">
                {{ getHowLongAgo(attendee.checkedInDate) }}
              </div>
            </div>
          </div>
          <div class="action">
            <fa-icon size="2x" (click)="selectAttendee(attendee)" [icon]="iconChecked"
                     tooltipPosition="left" [pTooltip]="getToolTipText(attendee)"
                     tooltipStyleClass="tooltip-uncheck"></fa-icon>
          </div>
        </div>
        <ng-container *ngIf="isSearching">
          <ng-container
            *ngTemplateOutlet="loadingList; context: { $implicit: getListOfLettersForLoading() }"></ng-container>
        </ng-container>
        <div *ngIf="!lastPage" class="load-more">
          <button pButton [label]="'attendance.loadMore' | translate" (click)="loadNextPageEdit()"></button>
        </div>
      </div>
    </ng-template>
  </div>
</app-template>

<ng-template #loadingList let-letters>
  <div class="col-12 result loading" *ngFor="let letter of letters">
    <div class="name-icon">
      <div class="letter-icon">{{ letter }}</div>
    </div>
    <div class="primary-info">
      <div class="name">
        <div class="loading">&nbsp;</div>
      </div>
      <div class="contact">
        <div class="loading">&nbsp;</div>
      </div>
    </div>
    <div class="secondary-info">
      <div class="info-place">
        <div class="locality">
          <div class="loading">&nbsp;</div>
        </div>
        <div class="region">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
      <div class="info-checkin">
        <div class="how-long-ago">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="action">
      <fa-icon size="2x" [icon]="iconCircle"></fa-icon>
    </div>
  </div>
</ng-template>


<p-dialog modal="true" [maximizable]="true" [draggable]="false" [(visible)]="showSelectMeeting">
	<ng-template pTemplate="body">
		<div class="row mb-3" >
			<div class="col-12 col-md-12 mb-3">
				<label class="label">Consulta</label>
				<p-dropdown [options]="optionsConference" [styleClass]="'d-flex form-control'" (onChange)="handleChangeConference()" [(ngModel)]="selectedConference" optionLabel="name"></p-dropdown>
			</div>
			<div class="col-12 col-md-12 mb-auto">
				<label class="label">Reunião</label>
				<p-dropdown [options]="optionsMeeting" [styleClass]="'d-flex form-control'"  [virtualScroll]="true"  [(ngModel)]="selectedMeeting" optionLabel="name"></p-dropdown>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="footer">
		<button pButton class="change-button btn btn-lg btn-primary" [label]="'change' | translate" icon="fa-solid fa-arrow-right-arrow-left" (click)="setCurrentMeeting()"></button>
	</ng-template>
</p-dialog>

