<app-template>
  <div class="edit-attendees">
    <section id="attendee-selected">
      <ng-container *ngIf="isAttendeeSelected; else list">
        <div class="col-12 col-md-6 m-a">
          <form
            class="row form-edit-account"
            [formGroup]="form"
            (submit)="saveEdit()"
          >
            <div class="col-12 title">
              <span>{{ "attendance.editAttendanceIn" | translate }}</span>
              <span
                class="remove-action"
                (click)="uncheckIn()"
                [pTooltip]="getTooltipRemoveText()"
                tooltipStyleClass="tooltip-uncheck"
              >
                <fa-icon [icon]="iconRemove"></fa-icon>
                {{ "attendance.removeAttendee" | translate }}
              </span>
            </div>
            <div class="col-12">
              <label class="required form-label">{{
                "name" | translate
              }}</label>
              <input pInputText class="form-control" formControlName="name" />
              <tt-input-message [form]="form" field="name"></tt-input-message>
            </div>
            <div class="col-12">
              <label class="required form-label">{{
                localitySrv.getTranslatedLabelLocality(localityLabel)
              }}</label>
              <p-dropdown
                [options]="optionsLocalities"
                formControlName="locality"
                [styleClass]="'d-flex form-control'"
                [placeholder]="'placeholder.select' | translate"
              ></p-dropdown>
              <tt-input-message
                [form]="form"
                field="locality"
              ></tt-input-message>
            </div>
            <div class="col-12">
              <label>{{ "attendance.authentication" | translate }}</label>
              <div class="auth-type">
                <!-- <img *ngIf="form.get('resetPassword').value && !citizenHasNativeAuth"
                     src="/assets/layout/images/icons/participe.svg" title="Participe" alt=""/> -->
                <img
                  *ngFor="let auth of authName"
                  [src]="authSrv.getAuthenticationIcon(auth)"
                  [title]="auth"
                  [alt]="auth"
                />
              </div>
            </div>
            <div class="col-12">
              <label
                [class.required]="form.get('authType').value === 'E-Mail'"
                >{{ "citizen.mail" | translate }}</label
              >
              <input
                pInputText
                readonly
                class="form-control"
                formControlName="email"
              />
              <tt-input-message [form]="form" field="email"></tt-input-message>
            </div>
            <div class="col-12">
              <label>{{ "citizen.phone" | translate }}</label>
              <p-inputMask
                mask="(99) 99999-9999"
                placeholder="(00) 00000-0000"
                unmask="true"
                formControlName="phone"
                [styleClass]="'form-control'"
              ></p-inputMask>
              <tt-input-message [form]="form" field="phone"></tt-input-message>
            </div>
            <div class="col-12">
              <label class="d-block mb-2">{{ 'citizen.representative' | translate }}</label>
              <p-inputSwitch formControlName="isAuthority" (mousedown)="markAuthorityTouched()"
                (onChange)="loadACRole($event)"></p-inputSwitch>
            </div>
            <div class="col-12" *ngIf="form.get('isAuthority').value">
              <label for="organization">{{ 'citizen.organization' | translate }}*</label>
              <input type="text" id="entity" class="form-control" formControlName="organization" placeholder="Digite o órgão ou entidade">
              <tt-input-message [form]="form" field="organization"></tt-input-message>
            </div>
          
            <div class="col-12" *ngIf="form.get('isAuthority').value">
              <label for="role">{{ 'citizen.role' | translate }}*</label>
              <input type="text" id="role" class="form-control" formControlName="role" placeholder="Digite o cargo">
              <tt-input-message [form]="form" field="role"></tt-input-message>
            </div>
            <div class="col-12">
              <div class="form-actions">
                <button
                  pButton
                  icon="pi pi-check"
                  class="me-3"
                  type="submit"
                  [label]="'save' | translate"
                ></button>
                <button
                  pButton
                  icon="pi pi-ban"
                  type="button"
                  [label]="'cancel' | translate"
                  (click)="toggleSelectedAttendee()"
                ></button>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
    </section>

    <ng-template #list>
      <section id="attendee-filter-row">
        <div class="row">
          <div class="col-3">
            <p-dropdown
              [options]="optionsOrderBy"
              [(ngModel)]="selectedOrderBy"
              [styleClass]="''"
              (onChange)="searchByName()"
            >
              <ng-template let-option pTemplate="selectedItem">
                {{
                  ("attendance.orderBy" | translate) +
                    ": " +
                    (option.label | translate)
                }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.label | translate }}
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-3">
            <div class="county p-float-label">
              <p-autoComplete
                id="search-county"
                field="name"
                [(ngModel)]="selectedCounty"
                class="d-flex h-100"
                [suggestions]="resultSearchCounty"
                [inputStyleClass]="'h-100 form-control'"
                (completeMethod)="handleSearchCounty($event)"
                [forceSelection]="true"
                (onSelect)="searchByName()"
              ></p-autoComplete>
              <label for="search-county">{{
                localitySrv.getTranslatedLabelLocality(localityLabel)
              }}</label>
            </div>
          </div>
          <div class="col-3">
            <p-dropdown
              [options]="optionsFilterBy"
              [(ngModel)]="selectedFilterBy"
              (onChange)="searchByName()"
            >
              <ng-template let-option pTemplate="selectedItem">
                <span>Filtrar Por: {{ option.label }}</span>
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.label }}
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-3">
            <div class="search">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="d-flex form-control"
                  id="search-name"
                  pInputText
                  [(ngModel)]="nameSearch"
                  (keydown.enter)="searchByName()"
                />
                <label
                  class="input-group-text cursor-pointer"
                  (click)="searchByName()"
                  for="search-name"
                >
                  {{ "search" | translate }}
                  <i class="ps-1 fa fa-search"></i>
                  <!-- <button pButton icon="pi pi-search" class="for" (click)="searchByName()"></button> -->
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="attendee-list">
        <div class="p-grid list-result">
          <div class="col-12" *ngIf="noResult">
            <div class="no-result">{{ "attendance.noResult" | translate }}</div>
          </div>
          <div class="col-12 result" *ngFor="let attendee of listAttendees">
            <div class="name-icon">
              <div
                class="letter-icon"
                [ngStyle]="{ backgroundColor: getNameIconColor(attendee.name) }"
              >
                {{ attendee.name ? attendee.name[0].toUpperCase() : "A" }}
              </div>
            </div>
            <div class="primary-info">
              <div class="name">{{ attendee.name }}</div>
              <div class="contact">
                <span>{{ attendee.email }}</span>
                <span *ngIf="attendee.telephone">{{
                  " - " + attendee.telephone
                }}</span>
              </div>
            </div>
            <div class="secondary-info">
              <div class="info-place">
                <div class="locality">{{ attendee.locality }}</div>
                <div class="region">{{ attendee.superLocality }}</div>
              </div>
              <div class="info-preregister" *ngIf="attendee.preRegistered">
                <div
                  class="how-long-ago"
                  [pTooltip]="attendee.preRegisteredDate"
                >
                  {{ getHowLongAgo(attendee.preRegisteredDate) }}
                </div>
                <div class="preregister-icon action">
                  <img
                    src="assets/layout/images/icons/preregister_phone.svg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="info-checkin">
                <div class="how-long-ago" [pTooltip]="attendee.checkedInDate">
                  {{ attendee.checkedIn ? getHowLongAgo(attendee.checkedInDate) : 'Ausente' }}
                </div>
                <div class="action">
                  <fa-icon
                    size="2x"
                    (click)="selectAttendee(attendee, true)"
                    [icon]="attendee.checkedIn ? iconChecked : iconCircle"
                    tooltipPosition="left"
                    [pTooltip]="getToolTipText(attendee)"
                    tooltipStyleClass="tooltip-uncheck"
                  ></fa-icon>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="isSearching">
            <ng-container
              *ngTemplateOutlet="
                loadingList;
                context: { $implicit: getListOfLettersForLoading() }
              "
            ></ng-container>
          </ng-container>
          <div *ngIf="!lastPage" class="load-more">
            <button
              pButton
              [label]="'attendance.loadMore' | translate"
              (click)="loadNextPageEdit()"
            ></button>
          </div>
        </div>
      </section>
    </ng-template>
  </div>
</app-template>

<ng-template #loadingList let-letters>
  <div class="col-12 result loading" *ngFor="let letter of letters">
    <div class="name-icon">
      <div class="letter-icon">{{ letter }}</div>
    </div>
    <div class="primary-info">
      <div class="name">
        <div class="loading">&nbsp;</div>
      </div>
      <div class="contact">
        <div class="loading">&nbsp;</div>
      </div>
    </div>
    <div class="secondary-info">
      <div class="info-place">
        <div class="locality">
          <div class="loading">&nbsp;</div>
        </div>
        <div class="region">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
      <div class="info-checkin">
        <div class="how-long-ago">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="action">
      <fa-icon size="2x" [icon]="iconCircle"></fa-icon>
    </div>
  </div>
</ng-template>

<p-dialog class="modal-change-meeting" modal="true" [draggable]="false" [resizable]="false" [(visible)]="showSelectMeeting" (onHide)="callbackHideModal()">
  <div class="label">{{ "administration.conference" | translate }}</div>
  <p-dropdown [options]="optionsConference" (onChange)="handleChangeConference()" [styleClass]="'d-flex form-control'" [(ngModel)]="selectedConference" optionLabel="name"></p-dropdown>
  <div class="label">{{ "meeting" | translate }}</div>
  <div class="form-group">
    <p-dropdown [options]="optionsMeeting" appendTo="body" [ngClass]="'d-flex w-100'" [styleClass]="'d-flex w-100 form-control'" [(ngModel)]="selectedMeeting" optionLabel="name"></p-dropdown>
  </div>
  <div class="col-12 col-md-6 col-lg-3 m-auto">
    <div class="d-grid gap-2 mt-3">
      <button pButton class="btn btn-primary" [autofocus]="false" [label]="'change' | translate" icon="pi pi-sort-alt" (click)="setCurrentMeeting()"></button>
    </div>
  </div>
</p-dialog>
