@import '../attendance.component.scss';

.edit-attendees {

  .top-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;

    > div,
    p-dropdown {
      margin: 0 10px;
    }

    .county.p-float-label {
      .p-inputtext,
      label {
        padding-left: 15px;
      }
    }

    .search {
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      flex-direction: row !important;

      .ui-float-label {
        .ui-inputtext {
          flex: 1;
          border-radius: 15px 0 0 15px;
          padding-left: 15px;
          color: $textFilterColor;
          border-right: none;
        }

        label {
          padding-left: 15px;
        }
      }

      .ui-button {
        border-radius: 0 15px 15px 0;
        background: #f5f5f5;
        border: 1px solid #E0E0E0;
        border-left: none;
      }
    }

    @media screen and (max-width: 786px) {
      > div,
      p-dropdown {
        margin: 5px 10px;
      }

      .new {
        justify-content: flex-start;
      }
    }
  }

  .form-edit-account {
    margin: 0;

    .p-col-12 {
      display: flex;
      flex-direction: column;
    }

    .title {
      font-size: 1.25rem;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .remove-action {
        font-size: .8rem;
        color: red;
        cursor: pointer;
      }
    }

    .auth-type {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 40px;
        margin-right: 5px;

        &:last-of-type {
          margin-right: 10px;
        }
      }

      p-radioButton {
        margin-right: 10px;
      }

      label {
        float: none;
      }
    }
  }

}

::ng-deep .edit-attendees {
  .ui-inputtext {
    flex: 1;
  }

  .form-edit-account {
    .ui-inputtext {
      width: 100%;
      flex: 0;
    }
  }

  .ui-autocomplete,
  .ui-autocomplete-input {
    flex: 1;
  }

  form.form-edit-account .auth-type label {
    float: none;
  }

  .top-bar .search {
    input.ng-valid.ng-touched.ng-dirty:focus {
      box-shadow: none !important;
    }

    input.ng-valid.ng-touched.ng-dirty {
      border: 1px solid #E0E0E0 !important;
    }

    .ui-button .ui-button-icon-left {
      color: $textFilterColor;
    }
  }

  .search {
    cursor: auto !important;
  }

  .p-dropdown.p-component.p-inputwrapper, .p-autocomplete.p-component.p-inputwrapper {
    width: 100%;
  }

  .top-bar {
   
    margin: 0 15px;
   

    input.ng-valid.ng-touched.ng-dirty:focus,
    p-dropdown.ng-valid.ng-touched.ng-dirty:focus > div,
    p-autoComplete.ng-valid.ng-touched.ng-dirty:focus > span > input {
      box-shadow: none !important;
    }

    input.ng-valid.ng-touched.ng-dirty,
    p-dropdown.ng-valid.ng-touched.ng-dirty > div,
    p-autoComplete.ng-valid.ng-touched.ng-dirty > span > input {
      border: 1px solid #E0E0E0 !important;
    }

    .ui-dropdown {
      border-radius: 15px;

      .ui-dropdown-label-container {
        border-radius: 15px;

        .ui-dropdown-label.ui-inputtext {
          color: $textFilterColor;
          border-radius: 15px;
          padding-left: 15px;
        }
      }

      .ui-dropdown-trigger {
        border-radius: 15px;
      }
    }

    .ui-autocomplete .ui-inputtext {
      border-radius: 15px;
      padding-left: 15px;
    }
  }
}

.preregister-icon {
  height: 100%;
  width: 20px;
  margin-left: 8%;
  margin-right: 5%;
}

.auth- {
  &screening {
    color: gray;
  }

  &announce {
    color: #f58634;
  }

  &announced {
    color: #34659e;
  }
  
}

div[role="button"] {
  cursor: pointer;
}

.secondary-info {
  flex: unset !important;

  .authorityInfo {


    .role {
      font-size: smaller;
    }

    .organization {
      font-size: small;
      font-weight: bolder;
    }

    
  }

  .allow-announce-wrapper {
      color: #008000
    }


}
