<app-template>
  <div class="attendee-register">
    <ng-container *ngIf="(newAccount || isAttendeeSelected); else list">
      <div class="col-12 col-md-6">
        <form class="row form-new-account" [formGroup]="form" (submit)="saveAccount()">
          <div class="col-12 title">
            {{ 'attendance.registerAttendance' | translate }}
          </div>
          <div class="col-12">
            <label class="required">{{ 'name' | translate }}</label>
            <input pInputText class="form-control" (input)="onInput($event)" (blur)="onBlur($event)" formControlName="name">
            <tt-input-message [form]="form" field="name"></tt-input-message>
          </div>
          <div class="col-12">
            <label class="required" for="locality">{{ localitySrv.getTranslatedLabelLocality(localityLabel) }}</label>
            <p-dropdown [styleClass]="'d-flex form-control'" [options]="optionsLocalities" formControlName="locality"
                        [placeholder]="'placeholder.select' | translate"></p-dropdown>
            <tt-input-message [form]="form" field="locality"></tt-input-message>
          </div>
          <div class="col-12">
            <label>{{ 'attendance.authentication' | translate }}</label>
            <div class="auth-type">
              <!-- <img *ngIf="newAccount || (form.get('resetPassword').value && !citizenHasNativeAuth)"
                   src="/assets/layout/images/icons/participe.svg" title="Participe" alt=""/> -->
              <img *ngFor="let auth of authName" [src]="authSrv.getAuthenticationIcon(auth)"
                   [title]="auth" [alt]="auth"/>
            </div>
          </div>
          <div class="col-12">
            <label [class.required]="form.get('authType').value === 'E-Mail'">{{ 'citizen.mail' | translate }}</label>
            <input [readonly]="isReadonly" pInputText class="form-control" formControlName="email">
            <tt-input-message [form]="form" field="email"></tt-input-message>
          </div>
          <div class="col-12">
            <label>{{ 'citizen.phone' | translate }}</label>
            <p-inputMask [styleClass]="'form-control'" mask="(99) 99999-9999" placeholder="(00) 00000-0000" unmask="true"
                         formControlName="phone"></p-inputMask>
            <tt-input-message [form]="form" field="phone"></tt-input-message>
          </div>
          <div class="col-12">
            <div class="form-actions">
              <ng-container *ngIf="newAccount; else attendeeSelected">
                <button pButton icon="pi pi-check" [disabled]="form.invalid" type="submit"
                        [label]="'attendance.saveAndRegister' | translate" class="me-2" ></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel' | translate"
                        (click)="toggleNewAccount()"></button>
              </ng-container>
              <ng-template #attendeeSelected>
                <button pButton icon="pi pi-check" type="button" [disabled]="form.invalid" class="me-2" (click)="checkIn(selectedAttende)"
                        [label]="'attendance.registerAttendance' | translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel' | translate"
                        (click)="toggleSelectedAttendee()"></button>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-template #list>
      <div class=" row">
        <div class="col-12">
          <div class="col-md-4 text-center m-auto">
            <button type="button" class="btn btn-lg btn-orange" (click)="readQRCode()" value="" ><span class="icon" ><i class="fa fa-qrcode" ></i></span>Ler QR Code</button>
          </div>
        </div>
        <div class="col-12 col-md-8 mt-3">
          <div class="row">
            <div class="col-12 col-md-8 ">
              <input type="text" class="form-control mt-1" pInputText (keydown.enter)="searchByName()" [(ngModel)]="nameSearch"/>
            </div>
            <div class="col-12 col-md-4">
              <button id="btnSearchRegister" class="xs-w-100 mt-1" pButton [disabled]="!this.idMeeting" icon="pi pi-search"
                      [label]="'search' | translate" (click)="searchByName()"></button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-3 new " [hidden]="true" >
          <button pButton icon="pi pi-plus" class="xs-w-100 mt-1" [label]="'new' | translate" (click)="toggleNewAccount()"></button>
        </div>
      </div>
      <app-modal id="QRCodeReader"  [modalData]="modalData" (closed)="closeQRCodeReader()" >
        <div class="row"  >
          <div class="col-12 col-md-6  text-center">
            <!-- <label>Dispositivos</label> -->
            <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
              <!-- <option value="" [selected]="!deviceCurrent">{{ 'qrcode.noDevice' | translate }}</option> -->
              <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                [selected]="deviceCurrent && device.deviceId === deviceCurrent.deviceId">{{device.label}}</option>
            </select>
            <!-- <p-dropdown   [options]="availableDevices" ></p-dropdown> -->
          </div>
          <div class="col-md-6 col-12 text-center">
            <a *ngIf="torchAvailable$?.value" (click)="toggleTorch()" class="btn btn-sm {{classFlash}}" >
              <span class="m-2"><i class="fas fa-bolt" ></i></span>
              {{actionFlash}}              
            </a>
          </div>
          <!-- <input type="button" class="btn btn-sm btn-orange" value="" > -->
        </div>
        <div class="col-12 mt-3 p2">
          <zxing-scanner 
          [(enable)]="scannerEnabled"  
          [torch]="torchEnabled" 
          [(device)]="deviceCurrent" 
          
          (scanSuccess)="onCodeResult($event)"
          [formats]="formatsEnabled" 
          [tryHarder]="tryHarder" 
          (permissionResponse)="onHasPermission($event)"
          (camerasFound)="onCamerasFound($event)" 
          (torchCompatible)="onTorchCompatible($event)" ></zxing-scanner>
        </div>
      </app-modal>
      <swal
          [swalVisible]="modalSuceesPresence"
          title="Presença Confirmada"
          html=" <b>{{dataPresence.person.name}}</b> teve a sua presença confirmada em <b>{{dataPresence.time}}</b> "
          icon="success"
          timer="{{timerModalSuccess}}"
          timerProgressBar="true"
          showCloseButton="true"
          (confirm)="readAnother()"
          confirmButtonText="Registrar outro"
          >
      </swal>
      <div class="row list-result">
        <div class="col-12" *ngIf="noResult">
          <div class="no-result">{{ 'attendance.noResult' | translate }}</div>
        </div>
        <div class="col-12 result" *ngFor="let attendee of listAttendees">
          <div class="name-icon">
            <div class="letter-icon" [ngStyle]="{ backgroundColor: getNameIconColor(attendee.name)}">
              {{ attendee.name[0].toUpperCase() }}
            </div>
          </div>
          <div class="primary-info">
            <div class="name">{{ attendee.name }}</div>
            <div class="contact">
              <span>{{ attendee.email }}</span>
              <span *ngIf="attendee.telephone"> - {{ attendee.telephone }}</span>
            </div>
          </div>
          <div class="secondary-info">
            <div class="info-place">
              <div class="locality">{{ attendee.locality }}</div>
              <div class="region">{{ attendee.superLocality }}</div>
            </div>
            <div class="authNameIcon" >
              <img *ngFor="let auth of attendee.authName" [src]="authSrv.getAuthenticationIcon(auth)" class="mx-1">
            </div>
            <div class="info-checkin" *ngIf="attendee?.checkedIn">
              <div class="how-long-ago" [pTooltip]="attendee.checkedInDate">
                {{ getHowLongAgo(attendee.checkedInDate) }}
              </div>
            </div>
            <div class="info-checkin" *ngIf="!attendee?.checkedIn"></div>
          </div>
          <div class="action">
            <ng-container *ngIf="attendee?.checkedIn; else canCheckIn">
              <fa-icon size="2x" [icon]="iconChecked"></fa-icon>
            </ng-container>
            <ng-template #canCheckIn>
              <fa-icon size="2x" (click)="selectAttendee(attendee)" [icon]="iconUnchecked"
                       [class.disabled]="attendee.checkingIn"
                       tooltipPosition="left" [pTooltip]="getToolTipText(attendee)"
                       tooltipStyleClass="tooltip-uncheck"></fa-icon>
            </ng-template>
          </div>
        </div>
        <ng-container *ngIf="isSearching">
          <ng-container
            *ngTemplateOutlet="loadingList; context: { $implicit: getListOfLettersForLoading() }"></ng-container>
        </ng-container>
        <div *ngIf="!lastPage" class="load-more">
          <button pButton [label]="'attendance.loadMore' | translate" (click)="loadNextPageRegister()"></button>
        </div>
      </div>
    </ng-template>
  </div>
</app-template>


<ng-template #loadingList let-letters>
  <div class="col-12 result loading" *ngFor="let letter of letters">
    <div class="name-icon">
      <div class="letter-icon">{{ letter }}</div>
    </div>
    <div class="primary-info">
      <div class="name">
        <div class="loading">&nbsp;</div>
      </div>
      <div class="contact">
        <div class="loading">&nbsp;</div>
      </div>
    </div>
    <div class="secondary-info">
      <div class="info-place">
        <div class="locality">
          <div class="loading">&nbsp;</div>
        </div>
        <div class="region">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
      <div class="info-checkin">
        <div class="how-long-ago">
          <div class="loading">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="action">
      <fa-icon size="2x" [icon]="iconUnchecked"></fa-icon>
    </div>
  </div>
</ng-template>


<p-dialog class="modal-change-meeting" modal="true" [draggable]="false" [resizable]="false" [(visible)]="showSelectMeeting" (onHide)="callbackHideModal()">
  <div class="label">{{ 'administration.conference' | translate }}</div>
  <p-dropdown [options]="optionsConference" (onChange)="handleChangeConference()" [styleClass]="'d-flex form-control'" [(ngModel)]="selectedConference" optionLabel="name"></p-dropdown>
  <div class="label">{{ 'meeting' | translate }}</div>
  <div class="form-group">
    <p-dropdown [options]="optionsMeeting" appendTo="body" [ngClass]="'d-flex w-100'" [styleClass]="'d-flex w-100 form-control'"  [(ngModel)]="selectedMeeting" optionLabel="name"></p-dropdown>
  </div>
  <div class=" col-12 col-md-6 col-lg-3 m-auto">
    <div class="d-grid gap-2 mt-3">
      <button pButton class=" btn btn-primary" [autofocus]="false" [label]="'change' | translate" icon="pi pi-sort-alt" (click)="setCurrentMeeting()"></button>
    </div>
  </div>
</p-dialog>
