<ng-template ngFor let-child let-i="index" [ngForOf]="(root ? item : item.items)">
  <li [ngClass]="{'active-rootmenuitem': isActive(i) && template.isHorizontal(),
  'active-menuitem': ((routeItems && child?.label === routeItems[0]?.label && template.isHorizontal())
  || (isActive(i) && !template.isHorizontal()))}" [class]="child.badgeStyleClass"
      *ngIf="child.visible!==false">

    <a *ngIf="!child.routerLink" style="padding-bottom: 0.45rem; padding-top: 0.25rem;" (mouseenter)="onMouseEnter(i)">
      <fa-icon [icon]="child.icon" style="margin-left: 0; margin-right: 0;"></fa-icon>
      <span class="layout-menuitem-text" style="padding-left: 0;
                                                padding-right: 0;
                                                --color: template.isDesktop() ? white : rgb(167, 164, 164)">
        <a style="cursor: pointer">{{child.label | translate }}</a>
      </span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items" (click)="itemClick($event,child,i)"
         style="margin-left: 0; margin-right: 0; cursor: pointer"></i>
    </a>

    <a (click)="itemClick($event,child,i)" (mouseenter)="onMouseEnter(i)" *ngIf="child.routerLink"
       [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink" [fragment]="child.fragment"
       [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target">
      <fa-icon [icon]="child.icon" class="layout-menuitem-icon"></fa-icon>
      <span class="layout-menuitem-text">{{child.label | translate}}</span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items"></i>
    </a>

    <!-- !template.isDesktop() -->
    <!--a [href]="child.url||'#'" (click)="itemClick($event,child,i)" (mouseenter)="onMouseEnter(i)"
      *ngIf="!child.routerLink && !template.isDesktop()" [ngClass]="child.styleClass" [attr.tabindex]="!visible ? '-1' : null"
      [attr.target]="child.target">
      <fa-icon [icon]="child.icon"></fa-icon>
      <span class="layout-menuitem-text">{{child.label | translate }}</span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items"></i>
    </a>

    <a (click)="itemClick($event,child,i)" (mouseenter)="onMouseEnter(i)" *ngIf="child.routerLink && !template.isDesktop()"
      [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink" [fragment]="child.fragment"
      [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target">
      <fa-icon [icon]="child.icon" class="layout-menuitem-icon"></fa-icon>
      <span class="layout-menuitem-text">{{child.label | translate}}</span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items"></i>
    </a-->

    <ul app-submenu [item]="child" *ngIf="child.items" [visible]="isActive(i)" [reset]="reset"
        [parentActive]="isActive(i)" [ngStyle]="{'padding':isActive(i) && root ? '':'0'}" [@children]="(template.isHorizontal())&& root ? isActive(i) ?
      'visible' : 'hidden' : isActive(i) ? 'visibleAnimated' : 'hiddenAnimated'"></ul>
  </li>
</ng-template>
