@import '@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  padding: 0;
}

a:focus,
button:focus {
  outline: none;
}

input.ng-invalid.ng-touched,
p-dropdown.ng-invalid.ng-touched > div,
p-autoComplete.ng-invalid.ng-touched > span > input {
  border: 1.3px solid #f44336 !important;
}

input.ng-invalid.ng-touched:focus,
p-dropdown.ng-invalid.ng-touched:focus > div,
p-autoComplete.ng-invalid.ng-touched:focus > span > input {
  box-shadow: 0 1px 0 0 #f47f6a !important;
}

input.ng-valid.ng-touched.ng-dirty,
p-dropdown.ng-valid.ng-touched.ng-dirty > div,
p-autoComplete.ng-valid.ng-touched.ng-dirty > span > input {
  border: 1.3px solid #549c3d !important;
}

input.ng-valid.ng-touched.ng-dirty:focus,
p-dropdown.ng-valid.ng-touched.ng-dirty:focus > div,
p-autoComplete.ng-valid.ng-touched.ng-dirty:focus > span > input {
  box-shadow: 0 1px 0 0 #6d9c5f !important;
}

.button-new {
  max-width: 250px;
}

.tree-column table {
  border-bottom: 1px solid #e0e0e0 !important;
  th:last-child{
    width: 20% !important;
  }
  td {
    border: 0 !important;
    border-left: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0 !important;
  }

}

.language-container {
  padding-top: 10px;
  padding-bottom: 0;
  margin-left: -6px;
  .p-md-6 {
    display: flex;
    cursor: pointer;
    &.selected {
      font-weight: 700;
    }
    img {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
    }
  }
}
.p-accordion-tab-active
a.p-accordion-header-link{
  color: #e0e0e0 !important;
}
// form {
//   label {
//     margin-bottom: 5px;
//     margin-left: 1px;
//     float: left;
//   }
//   .label-parent {
//     font-weight: 500;
//     margin-right: 5px;
//   }
// }

.search-form form .ui-fluid {
  align-items: flex-end;
}


.form-actions {
  display: inline-flex;
  button,
  p-splitButton {
    margin-right: 10px;
  }

}

.form-group {
  display: flex;
  flex-direction: column;
  > label {
    padding-bottom: 5px;
  }
}

.search {
  cursor: pointer;
  text-align: right;
}

div.search {
  align-self: center;
}

.actions-container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  .action-item {
    display: flex;
    align-items: center;
    > * {
      margin: 3px;
    }
  }

  .actions-right {
    color: silver;
    font-weight: 700;
    font-size: 13px;
  }

  img {
    width: 15px;
    filter: invert(96%) sepia(0%) saturate(20%) hue-rotate(204deg) brightness(82%) contrast(88%);
  }

}

.clickable {
  cursor: pointer;
}

.action-modal {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.display-none {
  display: none !important;
}

.conferences-item-select-modal {
  padding: 5px 2px;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
  }
  h4 {
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .date-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    .date {
      display: flex;
      align-items: center;
      i {
        font-size: 1.3rem;
        color: #ef8533;
      }
    }
  }
}

section.pagesize-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5px;
  justify-content: flex-end;
  label:first-child {
    margin-right: 10px;
  }
}

.loading-overlay {
  width: 100%;
  height: 5px;
  background-color: rgba(0,0,0,.3);
  z-index: 99999;
  position: fixed;
  top: 0;
  display: flex;
  color: white;
  .loader {
    max-width: 100%;
    height: 5px;
    background-color: #ef8533;
    transition: width .5s ease;
  }
}

::ng-deep {
  .input-disabled {
    color: #ccc;
  }
}

.pointer{
  cursor: pointer;
}

span.icon{
  margin-right: 0.6rem;
}
.dropdown-item:hover{
  color: #fff !important;
  background-color: #1976D2 !important;
}

.bg-light{
  background-color: var(--bs-body-color) ;
}

.g-10{
  gap: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f7ee;
  // background-image: linear-gradient(183deg, rgba(35,98,124,1) 0%, rgba(28,0,55,1) 100%);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(5deg, rgba(55,150,188,1) 0%, rgba(48,38,119,1) 100%);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(5deg, rgba(75,202,252,1) 0%, rgba(68,90,183,1) 100%);
}

.btn-orange{
  background-color: #f59a23;
  color: #fff;
}
.btn-orange:hover{
  background-color: #fd7e14;
  color: #fff;
}
.btn-orange:focus-visible{
  background-color: #fd7e14;
}


@media screen and (max-width: 786px){
  .xs-w-100 {
    width: 100%;
  }
}

.text-justify{
  text-align: justify !important;
}

.p-dropdown-items, .p-multiselect-items{
  padding: 0;
}

.p-element.p-dropdown-label.p-placeholder{
  padding: 0;
}
