$primaryLighterColor:#E7D8F5;
$primaryColor:#A054E5;
$primaryDarkerColor:#793BB1;
$primaryDarkestColor:#532C75;
$primaryColorText:#ffffff;

$accentColor:#D5AA8B;
$accentDarkerColor:#9F785C;
$accentColorText:#000000;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryColorText;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColorText;
$clickableContainerHeaderIconColor:$primaryColorText;

$clickableContainerHeaderHoverBgColor:$primaryDarkerColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkerColor;
$clickableContainerHeaderHoverTextColor:$primaryColorText;
$clickableContainerHeaderHoverIconColor:$primaryColorText;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../../sass/theme/theme';