<app-template>
  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-lg-12">
      <div class="card card-w-title">
        <section *ngIf="!showPlanForm && !showPlanItemForm">
          <div class="p-grid ui-fluid actions">
            <div class="ui-g-5 ui-md-2 ui-lg-2">
              <button pButton type="button" class="button-new" [label]="'new'|translate" icon="pi pi-plus" (click)="showCreatePlan()">
              </button>
            </div>
            <div class="ui-g-2 ui-md-8 ui-lg-9"></div>
            <div class="ui-g-5 ui-md-2 ui-lg-1 search">
              <a class="search" (click)="toggleSearch()">{{ (search ? 'hide' : 'search') | translate }}</a>
            </div>
          </div>
          <div class="search-form" *ngIf="search">
            <form [formGroup]="searchForm" (submit)="searchPlans(searchForm.value)">
              <div class="p-grid ui-fluid">
                <div class="ui-g-12 ui-md-6">
                  <label for="query">{{'plan.name'|translate}}</label>
                  <input id="search-input" pInputText [placeholder]="'plan.name'|translate" formControlName="query">
                </div>
                <div class="ui-g-12 ui-md-3">
                  <button pButton icon="pi pi-search" type="submit" [label]="'search'|translate"></button>
                </div>
              </div>
            </form>
          </div>
          <p-treeTable #tt [value]="planTree" selectionMode="single" class="tree-column">
            <ng-template pTemplate="header">
              <tr>
                <th>{{'name'|translate}}</th>
                <th class="priority-2">{{'type'|translate}}</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr>
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span style="vertical-align: middle">{{rowData.name}}</span>
                  <span class="visibility-sm">
                    / {{rowData.name}} - {{rowData.type && rowData.type.name}}
                  </span>
                </td>
                <td style="text-align: center;" class="priority-2">
                  {{ rowData.type && rowData.type.name }}
                </td>
                <td class="column-actions">
                  <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    [disabled]="disableBtnAdd(rowNode)" type="button" style="margin-right: 2px;"
                    (click)="showCreatePlanItem(rowNode)">
                    <img src="assets/layout/images/icons/triangule_plus.png" />
                  </button>
                  <button pButton icon="pi pi-pencil" type="button" style="margin-right: 2px;"
                    (click)="showEdit(rowNode)"></button>
                  <button pButton icon="pi pi-trash" type="button" (click)="delete(rowNode)"></button>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </section>
        <section class="p-grid ui-fluid" *ngIf="showPlanForm">
          <form [formGroup]="planForm" (submit)="savePlan(planForm.value)">
            <div class="p-col-12 p-md-6">
              <label for="name">{{'plan.name'|translate}}</label>
              <input pInputText [placeholder]="'plan.placeholder.name'|translate" formControlName="name">
              <tt-input-message [form]="planForm" field="name"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <label for="structure">{{'administration.structure'|translate}}</label>
              <p-dropdown [options]="structures" [disabled]="edit" formControlName="structure"
                class="ng-dirty ng-invalid" [placeholder]="'plan.placeholder.select-structure'|translate"></p-dropdown>
              <tt-input-message [form]="planForm" field="structure"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <label for="domain">{{'administration.domain'|translate}}</label>
              <p-dropdown [options]="domains" [disabled]="edit" formControlName="domain" class="ng-dirty ng-invalid"
                [placeholder]="'plan.placeholder.select-domain'|translate"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-4">
              <div class="form-actions">
                <button pButton icon="pi pi-check" type="submit" [label]="'save'|translate"></button>
                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate"
                  (click)="cancel()"></button>
              </div>
            </div>
          </form>
        </section>

        <!-- Plan Item Form -->

        <section class="p-grid ui-fluid" *ngIf="showPlanItemForm">
          <form [formGroup]="planItemForm" (submit)="savePlanItem(planItemForm.value)">
            <div class="p-col-12 p-md-6">
              {{ planBreadcrumb }} <span class="label-parent">{{ structureBreadcrumb }}</span>
            </div>
            <div class="p-col-12 p-md-6">
              <label for="name">{{'plan.name'|translate}}</label>
              <input pInputText [placeholder]="'plan.placeholder.name'|translate" formControlName="name">
              <tt-input-message [form]="planItemForm" field="name"></tt-input-message>
            </div>
            <div class="p-col-12 p-md-6">
              <label for="name">{{'description'|translate}}</label>
              <textarea [rows]="3" [cols]="30" pInputTextarea [placeholder]="'plan.placeholder.description'|translate"
                formControlName="description" autoResize="autoResize">
                </textarea>
            </div>

            <div class="p-col-12 p-md-6" *ngIf="structureItem.locality">
              <h3>{{'plan.locality'|translate}}</h3>
              <p-tree [value]="localities" selectionMode="checkbox" [emptyMessage]="'plan.error.locality.empty'|translate" [(selection)]="selectedLocalities"
                [style]="{width: '100%'}"></p-tree>
            </div>

            <div class="p-col-12 p-md-6" *ngIf="structureItem.logo && !planItem.file">
              <h3>{{'file.label'|translate}}</h3>
              <p-fileUpload name="file" accept="image/*" maxFileSize="1000000" auto="auto" [url]="getUrlUploadFile()"
                [headers]="getHeadersUploadFile()" (onUpload)="uploadFile($event)"
                [chooseLabel]="'file.browse'|translate" [uploadLabel]="'file.send'|translate"
                [cancelLabel]="'cancel'|translate"></p-fileUpload>
            </div>
            <div class="p-col-12 p-md-2" *ngIf="structureItem.logo && planItem.file">
              <h3>{{'file.label'|translate}}</h3>
              <img [src]="getUrlFile(planItem.file.id)" alt="Logo do Plano" width="120px" style="padding: 20px;">
              <button pButton icon="pi pi-trash" type="button" [label]="'file.remove'|translate"
                (click)="removeFile($event)"></button>
            </div>

            <div class="p-col-12 p-md-6">
              <div class="form-actions">
                <button pButton *ngIf="!edit" icon="pi pi-check" type="submit" [label]="'saveContinue'|translate"
                  (click)="setSaveAndContinue(true)"></button>
                <button pButton icon="pi pi-check" type="submit" [label]="'save'|translate"
                  (click)="setSaveAndContinue(false)"></button>

                <button pButton icon="pi pi-ban" type="button" [label]="'cancel'|translate"
                  (click)="canclePlanItem()"></button>
              </div>
            </div>
          </form>
        </section>

      </div>
    </div>
  </div>
  <p-confirmDialog [header]="'plan.delete'|translate" icon="pi pi-exclamation-triangle" key="deletePlan">
  </p-confirmDialog>
</app-template>
